/**
*
*/
@import (reference) "public";

  .container {
    width: 100%;
    height: 100%;
    //头部logo样式
    input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
    input::-ms-clear{display:none;}
    .content {
      width: 100%;
      height: 100%;
      background: #3a8be4;
      position: relative;
      .logo_990 {
        width: 990px;
        height: 360px;
        margin: 0 auto;

        .logo_con {
          width: 700px;
          height: 54px;
          padding-left: 130px;
          padding-right: 130px;
          margin-top: 123px;
          float: left;
          span {
            color: #fff;
            font-size: 32px;
            height: 54px;
            width: 2px;
            line-height: 54px;
            line-height: 54px\9;
            float: left;
            margin: auto 30px;
          }
          .logo_a {
            display: inline-block;
            height: 54px;
            width: 209px;
            float: left;
            overflow: hidden;
            background: url("../img/logo_a.png") no-repeat center;
          }
          .logo_text {
            height: 54px;
            font-size: 32px;
            font-weight: bold;
            line-height: 54px;
            line-height: 54px\9;
            float: left;
            display: inline-block;
            font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
            color: #fff;
          }
        }
      }
    }
    .content_body {
      width: 990px;
      margin: auto;
      height: 702px;
      position: relative;
      .content_container {
        width: 990px;
        height: 480px;
        top: -60px;
        position: absolute;
        background: #ffffff;
        box-shadow: 0 0 12px 1px #999;
        -moz-box-shadow:0 0 12px 1px #999;
        -webkit-box-shadow:0 0 12px 1px #999;
        filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
        //左侧内容样式
        .content_left {
          .float_l;
          width: 400px;
          //display: none;
          margin-left: 86px;
          margin-top: 56px;
          padding-top: 8px;
          overflow: hidden;

          //两种登录模块样式
          .login_menu{
            position: relative;
            p{
              font-size: 16px;
              color: #dadada;
              width: 400px;
              a{
                display: inline-block;
                font-size: 16px;
                font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                color: #333;
                &.login_msg{
                  margin-right: 12px;
                }
                &.login_account{
                  margin-left: 12px;
                }
                &.active{
                  font-weight: bold;
                }
                &:hover{
                  font-weight: bold;
                }

              }
            }
          }

          //验证码登录模块样式
          .login_msg{
            margin-top: 12px;
            ul {
              li {
                height: 53px;
                &.phone_num {
                  position: relative;
                  i {
                    width: 16px;
                    height: 28px;
                    left: 20px;
                    top: 12px;
                    z-index: 111;
                    position: absolute;
                    display: inline-block;
                    background: url("../img/phone.png");
                  }
                  em{
                    display: none;
                    width: 16px;
                    height: 16px;
                    right: 10px;
                    top: 18px;
                    position: absolute;
                    background: url("../img/clear_input.png")no-repeat center;
                    z-index: 3;
                    &:hover{
                      cursor: pointer;
                      background: url("../img/clear_input_hover.png")no-repeat center;
                    }
                  }
                  span{
                      width: 40px;
                      height: 40px;
                      background-color: @color-fff;
                      position: absolute;
                      right: 10px;
                      top: 7px;
                      z-index: 2;
                  }
                  input {
                    line-height: 53px;
                    line-height: 53px\9;
                    width: 340px;
                    padding-left: 58px;
                    font-size: 16px;
                    color: #333;
                    background: #fff;
                    outline: none;
                    font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                  }

                }
                &.sys_notice{
                  margin-top: 8px;
                  height: 24px;
                  margin-bottom: 16px;
                  p{
                    line-height: 24px;
                    line-height: 24px\9;
                    color: #c1c1c1;
                    font-size: 12px;
                    font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                  }
                }
                &.checkout_msg{
                  position: relative;
                  em{
                    position: absolute;
                    display: none;
                    width: 16px;
                    height: 16px;
                    left: 216px;
                    top: 18px;
                    z-index: 3;
                    background: url("../img/clear_input.png")no-repeat center;
                    &:hover{
                      cursor: pointer;
                      background: url("../img/clear_input_hover.png")no-repeat center;
                    }
                  }
                  span{
                      width: 40px;
                      height: 40px;
                      background-color: @color-fff;
                      position: absolute;
                      left: 192px;
                      top: 7px;
                      z-index: 2;
                  }
                }

                &.login_register{
                  height: 14px;
                  margin-top: 12px;
                  vertical-align: middle;
                  .login_auto{
                    float: left;
                    height: 16px;
                    line-height: 16px;
                    line-height: 16px\9;
                    user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    -moz-user-select: none;
                    span{
                      position: relative;
                      display: inline-block;
                      width: 12px;
                      height: 12px;
                      top: 2px;
                      margin-right: 4px;
                      border: 1px solid #dadada;
                      border-radius: 3px;
                      i{
                        position: absolute;
                        height: 14px;
                        width: 14px;
                        top:-1px;
                        left: -1px;
                        display: inline-block;
                        margin-right: 4px;
                        vertical-align: -2px;
                        background: url("../img/login_next_select.png") no-repeat center;
                        &:hover{
                          cursor: pointer;
                        }
                      }
                    }

                  }
                  .register_imd{
                    float: right;
                    display: inline-block;
                    line-height: 14px;
                    line-height: 14px\9;
                    color: #333333;
                    font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                    &:hover{
                      color: #3a8be4;
                      text-decoration: underline;
                    }
                  }
                }
                input {
                  height: 51px;
                  line-height: 51px\9;
                  line-height: 51px;
                  font-size: 16px;
                  border: 1px solid #dadada;
                  position: relative;
                  outline: none;
                  &.msg_input {
                    width: 217px;
                    float: left;
                    font-size: 16px;
                    color: #333;
                    padding-left: 22px;
                  }
                  &.msg_get {
                    width: 140px;
                    float: right;
                    border: none;
                    height: 53px;
                    line-height: 53px;
                    line-height: 53px\9;
                    background: #3a8be4;
                    font-size: 16px;
                    color: #ffffff;
                    text-align: center;
                    font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                    &:hover {
                      cursor: pointer;
                    }
                  }
                  &.wait{
                    background-color: @color-dadada !important;
                    &:hover{
                      cursor: default !important;
                    }
                  }
                }


                &.send_voice {
                  P {
                    font-size: 12px;
                    color: #aaaaaa;
                    font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                    a {
                      color: #3a8be4;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }
                &.login {
                  width: 400px;

                  margin-bottom: 20px;
                  .canKit{
                    background: @color-ffa903;
                    &:hover {
                      cursor: pointer;
                    }
                  }
                  input {
                    width: 400px;
                    border: none;
                    background: @color-dadada;
                    outline: none;
                    line-height: 53px;
                    line-height: 53px\9;
                    font-size: 16px;
                    font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                    text-align: center;
                    color: #ffffff;
                    &:hover {
                      cursor: default;
                    }
                  }
                }
                &.error_code{
                  display: none;
                  font-size: 12px;
                  color: #e43a3a;
                  margin-top: 12px;
                  height: 14px;
                  width: 400px;
                  i{
                    width: 11px;
                    height: 11px;
                    margin-right: 4px;
                    vertical-align: -1px;
                    display: inline-block;
                    background: url("../img/error_msg.png") no-repeat center;

                  }
                }

              }

            }
          }
          li{
            &.login{
              margin-top: 20px;
            }
          }



          //账号登录模块样式
          .login_account{
            margin-top: 12px;
            ul {
              li {
                height: 53px;
                &.phone_num {
                  position: relative;
                  i {
                    width: 16px;
                    height: 28px;
                    left: 20px;
                    top: 12px;
                    position: absolute;
                    display: inline-block;
                    background: url("../img/phone.png");
                  }
                  em{
                    display: none;
                    width: 16px;
                    height: 16px;
                    right: 10px;
                    top: 18px;
                    position: absolute;
                    z-index: 3;
                    background: url("../img/clear_input.png")no-repeat center;
                    &:hover{
                      cursor: pointer;
                      background: url("../img/clear_input_hover.png")no-repeat center;
                    }
                  }
                  span{
                      width: 40px;
                      height: 40px;
                      background-color: @color-fff;
                      position: absolute;
                      right: 10px;
                      top: 7px;
                      z-index: 2;
                  }
                  input {
                    width: 340px;
                    padding-left: 58px;
                    color: #333;
                    outline: none;
                    font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                  }


                }
                input {
                  height: 51px;
                  line-height: 51px;
                  line-height: 51px\9;
                  font-size: 16px;
                  outline: none;
                  border: 1px solid #dadada;

                  &.msg_input {
                    width: 217px;
                    float: left;
                    font-size: 16px;
                    color: #333;
                    padding-left: 21px;

                  }
                  &.msg_get {
                    width: 140px;
                    float: right;
                    border: none;
                    height: 53px;
                    background: @color-3a8be4;
                    font-size: 16px;
                    color: #ffffff;
                    text-align: center;
                    font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                    &:hover {
                      cursor: pointer;
                    }
                  }
                  .wait{
                    background: #dadada !important;
                    &:hover{
                      cursor: default !important;
                    }
                  }
                }
                &.input_password{
                  width: 400px;
                  position: relative;
                  margin-top: 20px;
                  input{
                    width: 343px;

                    padding-left: 55px;
                    outline: none;
                    font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                  }
                  i{
                    position: absolute;
                    width: 18px;
                    height: 22px;
                    left: 19px;
                    top: 14px;
                    display: inline-block;
                    vertical-align: middle;
                    background: url("../img/lock.png") no-repeat center;
                  }
                  em{
                    width: 23px;
                    display: inline-block;
                    position: absolute;
                    right: 12px;
                    z-index: 3;
                    &.hide{
                      top: 20px;
                      height: 16px;
                      background: url("../img/hide_password.png") no-repeat center;
                      &:hover{
                        cursor: pointer;
                        background: url("../img/hide_password_lit_hover.png") no-repeat center;
                      }
                    }
                    &.show{
                      height: 14px;
                      top: 22px;
                      background: url("../img/show_password.png") no-repeat center;
                      &:hover{
                        cursor: pointer;
                        background: url("../img/show_password_blue.png") no-repeat center;
                      }
                    }
                  }
                  span{
                      width: 50px;
                      height: 40px;
                      background-color: @color-fff;
                      position: absolute;
                      right: 1px;
                      top: 7px;
                      z-index: 2;
                  }
                }
                &.login {
                  width: 400px;
                  margin-bottom: 20px;
                  input {
                    width: 400px;
                    border: none;
                    line-height: 53px;
                    line-height: 53px\9;
                    background: @color-dadada;
                    font-size: 16px;
                    outline: none;
                    font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                    text-align: center;
                    color: #ffffff;
                    &:hover {
                      cursor: default;
                    }
                  }
                  .canKit{
                    background: @color-ffa903;
                    &:hover{
                      cursor: pointer;
                    }
                  }
                }
                &.login_register{
                  height: 14px;
                  margin-bottom: 20px;
                  margin-top: 12px;
                  vertical-align: middle;
                  .login_auto{
                    float: left;
                    height: 16px;
                    line-height: 16px;
                    line-height: 16px\9;
                    user-select: none;
                    top: 2px;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    -moz-user-select: none;
                    span{
                      position: relative;
                      display: inline-block;
                      width: 12px;
                      height: 12px;
                      margin-right: 4px;
                      border: 1px solid #dadada;
                      border-radius: 3px;
                      i{
                        position: absolute;
                        height: 14px;
                        width: 14px;
                        top:-1px;
                        left: -1px;
                        display: inline-block;

                        vertical-align: -2px;
                        background: url("../img/login_next_select.png") no-repeat center;
                        &:hover{
                          cursor: pointer;
                        }
                      }
                    }
                  }
                  .login_text{
                    float: right;
                    display: inline-block;
                    line-height: 14px;
                    line-height: 14px\9;
                    color: #dadada;
                    .forgot_password{
                      margin-right: 12px;
                    }
                    .register_imd{
                      margin-left: 12px;
                    }
                    a{
                      &:hover{
                        color: #3a8be4;
                        text-decoration: underline;
                      }
                    }
                  }
                }

                &.error_code{
                  display: none;
                  font-size: 12px;
                  color: #e43a3a;
                  margin-top: 12px;
                  height: 14px;
                  width: 400px;
                  //margin-bottom: 20px;
                  i{
                    width: 11px;
                    height: 11px;
                    margin-right: 4px;
                    vertical-align: -1px;
                    display: inline-block;
                    background: url("../img/error_msg.png") no-repeat center;

                  }
                }


              }
            }
          }
        }
        #login_imd{
          cursor: pointer;
          background-color: @color-ffa903;
        }

        //右侧模块样式
        .content_right {
          .float_r;
          //display: none;
          width: 392px;
          height: 360px;
          margin-top: 56px;
          margin-bottom: 56px;
          padding-top: 8px;
          border-left: 1px dotted #dbdbdb;
          .others_account_login {
            margin-top: 85px;
            P {
              font-size: 16px;
              color: #333;
              text-align: center;
              font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
            }
            ul {
              margin: 50px 18px 0 18px;
              li {
                float: left;
                margin: 0 28px;
                &.wx {
                  a {
                    padding-top: 54px;
                    font-size: 14px;
                    width: 58px;
                    color: #333;
                    display: inline-block;
                    text-align: center;
                    font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                    background: url("../img/wx_default.png") no-repeat center;
                    background-position: 5px 0px;
                    &:hover{
                      color: #3a8be4;
                      text-decoration: underline;
                      background: url("../img/wx_hover.png") no-repeat center;
                      background-position: 5px 0px;
                    }
                  }
                }
                &.wb {
                  .wx;
                  a {
                    background: url("../img/wb_default.png") no-repeat center;
                    background-position: 5px 0px;
                    &:hover{
                      background: url("../img/wb_hover.png") no-repeat center;
                      background-position: 5px 0px;
                    }
                  }
                }
                &.tx {
                  .wx;
                  a {
                    background: url("../img/qq_default.png") no-repeat center;
                    background-position: 3px 0px;
                    &:hover{
                      background: url("../img/qq_hover.png") no-repeat center;
                      background-position: 3px 0px;
                    }
                  }
                }
              }
            }
          }
        }

        //  注册成功提示页面
        .register_suc{
          margin-top: 86px;
          text-align: center;
          h2{
            height: 172px;
            position: relative;
            margin-bottom: 14px;
            i{

              display: inline-block;
              width: 164px;
              height: 162px;
              background: url("../img/register_suc.png") no-repeat center;
            }
            span{
              position: absolute;
              left: 351px;
              text-align: center;
              bottom:0;
              display: inline-block;
              font-size: 24px;
              font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
              color: #333;
            }
          }
          p{
            font-size: 14px;
            color: #aaa;
            margin-top: 10px;
            font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
            a{
              font-size: 14px;
              color: #3a8be4;
              font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
              &:hover{
                text-decoration: underline;
              }
            }
          }
          ul{
            width: 460px;
            margin: 21px auto;
            li{
              width: 100%;
              height: 53px;
              a{
                height: 53px;
                display: block;
                float: left;
                color: #fff;
                line-height: 53px;
                line-height: 53px\9;
                font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
                font-size: 16px;
                text-align: center;
                &.go_home{
                  width: 200px;
                  background: #3a8be4;
                }
                &.go_prev{
                  width: 240px;
                  background: #ffa903;
                  margin-left: 20px;
                }
              }
            }
          }

        }
      }
    }
  }
//底部样式
.footer {
  width: 100%;
  background: #333;
  height: 78px;
  position: relative;
  .footer_content {
    width: 990px;
    height: 78px;
    background: #333;
    margin:auto;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999999999;
    ul {
      height: 78px;
      width: 990px;
      overflow: hidden;
      line-height: 78px;
      line-height: 78px\9;
      margin-left: 120px;
      li {
        float: left;
        margin: 0 28px;
        a {
          display: inline-block;
          font-size: 12px;
          color: #ffffff;
          font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
        }
        &.website{
          margin-right: 0;
        }
      }
    }
  }
}
