@import "mod/mod_confirmDelete";
.cancel_confirm_delete{
  top: 20px;
}
.content_dist{
  width: 758px;
  margin-top: 20px;
  position: relative;
  .container{
    width: 738px;
    height:186px;
    padding-left: 20px;
    padding-top: 20px;
    background: #ffffff;
    margin-bottom: 10px;
    position: relative;

    .des_container{

      a{
        font-size: 16px;
        font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
        color: #333;
        display: inline-block;
        &.car_shop{
          color: #e43a3a;
          font-weight:bold;
          margin-bottom: 20px;
          height: 20px;

          i{
            color: #333;
          }
          span{
            color: #333;
            &:hover{
              color: #3a8be4;
              text-decoration: underline;
            }
          }
        }



      }

      ul{
        li{
          margin-bottom: 16px;
          width: 758px;
          &.brand{
            a{
              &:hover{
                color: #3A8BE4;
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }
          a{
            font-size: 14px;
            cursor: default;
          }
          i{

            display: inline-block;
            font-size: 14px;
            color: #aaa;
            &.qi{
              width: 36px;
              text-align: justify;
              text-align-last: justify;
            }
          }

          &.prom{
            span{
              font-size: 12px;
              color: #e43a3a;
              margin-left: 3px;
            }
            .clock{
              margin-left: 12px;
              display: inline-block;
              width: 16px;
              height: 16px;
              vertical-align: -4px;
              background: url("../img/clock_counter_03.png") no-repeat center;
            }
          }
          &.time{
            span{
              color: #aaa;
              font-size: 14px;
            }

          }
          &.address{

            .map{
              &:hover{
                cursor: pointer;
                span{
                  color: #3a8be4;
                  text-decoration: underline;
                }

              }
            }
            .address_a{
              width: 200px;
              display: inline-block;
              overflow: hidden;
              vertical-align: -6px;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

        }
      }


    }

    em{
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 10px;
      top:20px;
      right: 20px;
      background: url("../img/delete_grey_03.png") no-repeat center;
      &:hover{
        cursor: pointer;
        background: url("../img/delete_red_03.png") no-repeat center;
      }
    }
  }
}