.content_white{
  width: 758px;
  height: 490px;
  margin-top: 20px;
  background: #fff;
  .bind_notice{
    width: 297px;
    height: 344px;
    position: relative;
    img{
      position: absolute;
      width: 209px;
      height: 214px;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

  }
  .notice_des{
    height: 344px;
    width: 334px;
    margin-left: 22px;
    h2{
      padding-top: 112px;
      line-height: 25px;
      font-weight: bold;
      width: 366px;
      color: #aaa;
      font-size: 20px;
      text-wrap: normal;
      font-family: "Microsoft YaHei", "微软雅黑";
    }
    p{
      margin-top: 16px;
      font-size: 16px;
      font-family: "Microsoft YaHei", "微软雅黑";
      font-weight: bold;
      color: #333;
      a{
        color: #3a8be4;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}