@width-990:990px;
@margin-auto:0 auto;

@color-fff:#fff;
@color-555:#555;
@color-333:#333;
@color-999:#999;
@color-eee:#eee;
@color-ccc:#ccc;
@color-398be4:#398be4;
@color-f2f2f2:#f2f2f2;
@color-e53939:#e53939;
@color-ffa903:#ffa903;
@color-e43a3a:#e43a3a;
@color-e1:#e1e1e1;
@color-f3:#f3f3f3;
@color-ba:#bababa;
@color-dadada:#dadada;
@color-3189e9:#3189e9;
@color-126acc:#126acc;
@color-4f5050:#4f5050;
@color-1673d9:#1673d9;
@color-3f8de0:#3f8de0;
@color-1c6dc9:#1c6dc9;
@color-ff9027:#ff9027;
@color-fa802a:#fa802a;
@color-aaa:#aaa;
@color-666:#666;
@color-blue:#1673D9;
@color-blue-h:#3a8be4;
@color-orange:#FFA904;
@color-000:#000;
@color-ac:#acacac;
@color-ab:#ababab;
@color-da:#dadada;
@color-ea:#eaeaea;
@color-c4:#c4c4c4;
@color-b3:#b3b3b3;
@color-f7:#f7f7f7;
@color-47:#474747;
@color-table-bg:#f7fafe;
@color-submit-initial:#fa9e19;
@color-submit-hover:#ff9103;
@color-submit-active:#ff8003;
@color-a-hover:#3a8be4;
@color-a-active:#1673d9;
@color-scroll-list-hover:#398be4;
@color-c4c4c4:#c4c4c4;
@color-f7f7f7:#f7f7f7;
@color-fe0000:#fe0000;
@color-f00001:#f00001;

/* ------ */

@font-12:12px;
@font-14:14px;
@font-16:16px;
@font-18:18px;
@font-20:20px;
@font-24:24px;
@fontSize-14:14px;
@fontSize-16:16px;
@fontSize-20:20px;
@line-height-44:44px;
@font-size-12:12px;
@font-weight-b:bold;
@border-b-333:4px solid #333;


.background-size{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.a-state{
  &:hover{
    color:@color-a-hover;
  }
  &:active{
    color:@color-a-active;
  }
}
.a-udline-state{
  &:hover{
    color:@color-a-hover;
    text-decoration: underline;
  }
  &:active{
    color:@color-a-active;
    text-decoration: underline;
  }
}
.text-clip{
  overflow:hidden;
  white-space: nowrap;
  text-overflow:clip;
}
.text-ellipsis{
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
@color-blue:#1673D9;
@color-blue-h:#3a8be4;
@font-size-12:12px;
@font-weight-b:bold;
@border-b-333:4px solid #333;

.cursor {
  cursor: pointer;
}
.inline-block {
  display:inline-block;
}

@width:990px;
@height-36:36px;
@text-color:#333;
@bg-color:#398be4;
@border-color:#eee;
.float_l{
  float: left;
}
.float_r{
  float: right;
}
.position_r{
  position: relative;
}
.position_a{
  position: absolute;
};
.position_f{
  position: fixed;
};
.display_n{
  display: none;
};
.display_b{
  display: block;
};
.display_in{
  display: inline;
};
.display_inB{
  display: inline-block;
};

//综述页
@color-red-price:#e43a3a;
@color-red-price-hover:#e3393a;
@color-red-price-active:#b81818;
@item_blue:#3488ea;

@color-e72b2a:#e72b2a;
@color-e48d24:#e48d24;
@color-f6e8f7:#f6e8f7;
@color-3a8be4:#3a8be4;
@color-2d5966:#2d5966;
@color-c24070:#c24070;
@color-574227:#574227;
@color-2d5966:#2d5966;

.orange_btn{
    &:hover{
        background-color:@color-submit-hover;
    }
    &:active{
        background-color:@color-submit-active;
    }
}
.hui_btn{
    &:hover{
        color:@color-fff;
        background-color:@color-a-hover;
        border-color: @color-a-hover;
    }
    &:active{
        color:@color-fff;
        background-color:@color-a-active;
        border-color: @color-a-active;
    }
}
.red_price{
    &:hover{
        color:@color-red-price-hover;
        text-decoration: underline;
    }
    &:active{
        color:@color-red-price-active;
        text-decoration: underline;
    }
}

