
/*****
 *@author: zhangbs
 *@from: 左侧悬浮导航
 *@description: 何在鹏
 *@date: name (2017.02.06)
*/
.po_left_nav{
  background-color: #FFFFFF;
  //top: 100px;
  //left: -150px;
  ul{
    padding-right: 8px;
    border-right: 2px solid #dadada;
    padding-top: 10px;
    padding-bottom: 10px;
    .top_icon{
      width: 10px;
      height: 10px;
      background: url("../img/status_icon_top.png") no-repeat center;
      right: -4px;
      top: -7px;
    }
    .bot_icon{
      width: 10px;
      height: 10px;
      background: url("../img/status_icon_top.png") no-repeat center;
      right: -4px;
      bottom: -7px;
    }
    li{
      line-height: 34px;
      font-size: 0px;
      text-align: right;
      a{
        display: inline-block;
        height: 24px;
        padding-left: 12px;
        padding-right: 8px;
        line-height: 24px;
        vertical-align: middle;
        font-size: 12px;
        background-color: #ffffff;
        color: #666666;
        font-size: 16px;
      }
      .active_a{
        background-color:#398be4;
        color: #f3f8fd;
      }
      .bg_icon{
        display: inline-block;
        width: 12px;
        height: 24px;
        background-color: #ffffff;
        vertical-align: middle;
      }
      .active{
        background: url("../img/point_to_icon.png") no-repeat center;
      }
      .status_icon{
        display: inline-block;
        width: 10px;
        height: 10px;
        background: url("../img/status_icon.png") no-repeat center;
        right: -14px;
        top: 50%;
        margin-top: -5px;
      }
      .status_n_icon{
        display: inline-block;
        width: 10px;
        height: 10px;
        background: url("../img/status_n_icon.png") no-repeat center;
        right: -14px;
        top: 50%;
        margin-top: -5px;
      }
    }

  }
}