.select-type-con{
    .dis-n{
      display: none;
    }
    .overflow{
      overflow:inherit;
    }
    .w267{
      width: 267px;
    }
    &>ul{
      border-bottom: 1px solid #EEEEEE;
      height: 38px;
      line-height: 38px;
    }
    .enter{
      width: 40px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      background-color: #aaaaaa;
      color: #FFFFFF;
      cursor: pointer;
      margin-top: 6px;
    }
    .enter-click{
      background-color: #ffa904;
    }

    .input-box{
      input{
        width: 44px;
        height: 22px;
        border: 1px solid #DADADA;
        vertical-align: top;
        margin: 6px 2px 0 2px;
        color: #333;
        padding-left: 2px;
      }
    }
    .suv:hover{
      .suv-word{
        color: white;
        background:#3189E9 url("../img/bule-down.png") right 5px no-repeat;
      }
    }
    .suv{
      .suv-word{
        background: url("../img/suvx.png") right 5px no-repeat;
        padding-right: 18px;
      }
      .c{
        background:#3189E9 url("../img/bule-down.png") right 5px no-repeat
      }
      ul{
        display: none;
        background-color: #FFFFFF;
      }
    }
    .z-index100{
      z-index: 100;
    }
    .ml56{
      margin-left: 58px;
    }
    .mr54{
      margin-right: 90px;
    }
    .mr4{
      margin-right: 4px;
    }
    .mr5{
      margin-right: 5px;
    }
    .mr73{
      margin-right: 73px;
    }
    .mr105{
      margin-right: 141px;
    }
    .mr17{
      margin-right: 17px;
    }
    .h{
      .active{
        background-color: #3189E9;
        color: white;
      }
      a{
        padding: 0 3px;
      }
      a:hover{
        color: white;
        background-color: #3189E9;
      }

    }
    .price-hind{
      top: 34px;
      right: -15px;
      width: 152px;
      border: 1px solid #ffa904;
      height: 22px;
      line-height: 22px;
      padding-left: 29px;
      background: #FFFFFF url("../img/hind.png")no-repeat;
      background-position: 8px center;
      z-index: 20;
      cursor: pointer;
    }
    .mr8{
      margin-right: 8px;
    }
    .mr5{
      margin-right: 5px;
    }
    .mr4{
      margin-right: 4px;
    }
    .dis-n{
      display: none;
    }
    .mr13{
      margin-right: 13px;
    }
    .mr7{
      margin-right: 5.5px;
    }
    .mr5{
      margin-right: 5px;
    }
    .xl{
      ul{
        border: 1px solid #333333;
        border-bottom: 4px solid;
        left: 0px;
        top: 26px;
        z-index: 9;
        li{
          border-bottom: 1px solid #EEEEEE;
          height: 28px;
          padding-left: 20px;
          line-height: 28px;
          cursor: pointer;
          padding-right: 12px;
          white-space:nowrap;
          background: url("../img/xd-p.png")no-repeat;
          background-position: 12px center;
        }
        .ho:hover{
          background-color: #3189ea;
          color: #fefffd;
        }
        .ho{
          .icon-xd{
            vertical-align: top;
            margin-right: 9px;
            margin-top: 13px;
          }
        }
      }
    }
    .w54{
      width: 54px;
      a{

        .po-a{

        }
      }
    }
    .w56{
      a{
        display: inline-block;
        line-height: 16px;
        height: 16px;
        .po-a{
          top: 16px;
          margin-left: 5px;
        }
      }
    }
    .m0{
      margin: 0px;
    }
    .frist{
      font-size: 14px;
      font-weight: 600;
      word-spacing:8px;
      margin-right:12px ;
    }
};
.down-up {
  height: 38px;
  background-color: #EEEEEE;
  text-align: center;
  color: #565555;
  font-size: 16px;
  cursor: pointer;
  .icon-down-t{
    margin-top: 7px;
    background: url("../img/down-t.png") no-repeat right center;
    width: 100px;
    height: 20px;
    display: inline-block;
  }
  .icon-down-t:hover{
    color: #398BE4;
  }
  .icon-up-t:hover{
    color: #398BE4;
  }
  .icon-up-t{
    width: 100px;
    height: 20px;
    margin-top: 7px;
    display: inline-block;
    background: url("../img/up-t.png") no-repeat right center;
  }
}
.tool-selectcar-v2 {
  margin: 8px 0 0 0;
  dl {
    width: 100%;
    line-height: 36px;
    float: left;
    border-bottom: 1px solid @color-eee;
    dt {
      font-weight: bold;
      float: left;
      width: 54px;
    }
    dd {
      float: left;
      &.w-multi-line {
        width: 666px;
        li {
          height: 28px;
        }
      }
      li {
        float: left;
        margin: 0 12px 0 0;
        _margin: 0 11px 0 0;
        white-space: nowrap;
        a{
          &:link,&:visited {
            padding: 2px;
          }
          &:hover {
            text-decoration: none;
            background: @color-3189e9;
          }
          &.ico-arrow:link,.ico-arrow:visited {
            background: url(../img/ico_arrow.gif) no-repeat right 6px;
            padding-right: 17px
          }
          &.ico-arrow:hover {
            background: @color-3189e9 url(../img/ico_arrow.gif) no-repeat right -20px
          }
          &.ico-price:hover {
            background: @color-3189e9 url(../img/ico_arrow.gif) no-repeat right -145px;
            *background-position: right -143px
          }
          &.ico-price:link,&.ico-price:visited,&.ico-price:hover {
            background: @color-3189e9 url(../img/ico_arrow.gif) no-repeat right -145px;
          }
        }
        &.last {
          position: relative;
          z-index: 1;
        }
        &.current{
          a:link,a:visited,a:hover {
            background-color: @color-3189e9;
          }
          a.ico-arrow:link,a.ico-arrow:visited,a.ico-arrow:hover {
            background: @color-3189e9 url(../img/ico_arrow.gif) no-repeat right -20px;
          }
          a.ico-price:link,a.ico-price:visited {
            background: url(../img/ico_arrow.gif) no-repeat right -172px;
            padding-right: 17px;
            *zoom: 1;
            *height: 16px;
            *line-height: 16px;
            *background-position: right -170px;
            _margin-top: 8px
          }
        }
      }
    }
  }
  .w-short {
    width: 272px;
    _width: 275px
  }
  .w-long {
    width: 447px;
    _width: 440px
  }
  &.y2015 {
    position: relative;
    width: 100%;
    dd{
      li{
        margin: 0 0 0 9px;
        _margin: 0 0 0 8px;
        &.filter .txtinput {
          width: 38px;
          height: 22px;
          line-height: 22px;
          border: 1px solid @color-eee;
          display: inline-block;
          text-align: center;
          font-size: 12px;
        }
        &.value {
          display: none;
          &.current {
            display: inline-block
          }
        }
      }
      ul .filter {
        display: none;
        .button_gray {
          position: relative;
          left: 1px
        }
        &.active {
          display: inline-block;
        }
      }
      &.last {
        float: right;
        padding: 6px 2px;
      }
      &.level {
        width: 550px;
      }
    }
    .tool-info {
      text-align: center;
      font-size: 14px;
      background-color: @color-eee;
      position: relative;
      a {
        color: @color-3189e9;
      }
    }
  }
  .popup-price{
    .alert-txt {
      color: @color-3189e9;
      line-height: 18px;
      padding: 0 0 6px 10px
    }
  }
  .popup-list {
    width: auto;
    height: auto;
    border: 1px solid @color-333;
    border-bottom-width: 5px;
    position: absolute;
    z-index: 3;
    top: 26px;
    left: 0;
    display: inline-block;
    white-space: nowrap;
    *width: 115px;
    *overflow: hidden;
    .head-item {
      height: 28px;
      line-height: 28px;
      font-weight: bold;
    }
    p {
      width: 100%;
      height: 28px;
      line-height: 28px;
      border-top: 1px solid @color-333;
      &.current {
        font-weight: bold;
      }
      a:link,a:visited,a:hover {
        background-image: url(../img/ico_arrow.gif);
        background-position: 0 -185px;
        background-repeat: no-repeat;
        padding: 0 10px 0 20px;
        *width: 100px
      }
    }
    a:link,a:visited {
      display: block;
      padding: 0 10px;
      *width: 100px;
      background-color: #FFF!important
    }
    a:hover {
      background-color: #F2F2F2!important;
      color: @color-3189e9!important
    }
  }
  .config-list {
    overflow: hidden;
    width: 618px;
    padding: 6px 0;
    zoom: 1;
    li {
      width: 91px;
      height: 25px;
      line-height: 25px;
    }
    input {
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

.showhideCon{
  display: none;
}
.search{
  .mt40 {
    margin-top: 38px;
  }
  .title {
    font-size: 20px;
    padding-bottom: 13px;
    border-bottom: 4px solid #333333;
    margin-top: 38px;
    font-weight: 600;
  }
  .title .ft14 {
    font-size: 14px;
    font-weight: 100;
    margin-top: 5px;
    display: none;
    cursor: pointer;
    &:hover{
      color: #398BE4;
    }
  }
}
