/*****
 *@author: jianingning
 *@from: Global style mod_carOther
 *@description: 何在朋
 *@date: name (2017.02.04)
*/




@import (reference) "../public";

.imgs_other_car {
    margin-bottom: 23px;

    li {
        line-height: 28px;

        .imgs_blue_dian {
            .inline-block;
            margin-right: 7px;
            background-image: url("../img/sprite.png");
            background-position: 0px -23px;
            width: 3px;
            height: 3px;
            float: left;
            margin-top: 12px;
        }
        .imgs_other_price {
            float: right;
            color: @color-999;
        }
        a {
            color: @color-333;
            &:hover {
                color: @color-126acc;
                text-decoration: underline;
            }
            &:active {
                color: #1064c1;
                text-decoration: underline;
            }
        }
    }
    }
