/*****
 *@author: zhangbs
 *@from: 左侧树形
 *@description: 何在鹏
 *@date: name (2017.02.06)
*/
@import (reference) "../public";

.leftNav{
  position:absolute;
  top:0;
  left:0;
  height:1000px;
  overflow: hidden;
  background:#fff;
  .leftNavTree{
    width: 240px;
    height: 140px;
    overflow: hidden;
    background:@color-fff;
    ul {
      width: 245px;
      font-size: 14px;
      li {
        float: left;
        margin: 0 5px 5px 0;
        &.none {
          width: 28px;
          height: 28px;
          line-height: 28px;
          border: 1px solid #dadada;
          color: #aaa;
          text-align: center;
          background: #eee;
        }
        a{
          display: block;
          width: 28px;
          height: 28px;
          line-height: 28px;
          border: 1px solid #dadada;
          color: #333;
          text-align: center;
          background: #eee;
          &:hover {
            border-color: @color-3189e9;
            color: #FFF;
            text-decoration: none;
            background: @color-3189e9;
          }
          &:active{
            border-color: @color-126acc;
            color: #FFF;
            text-decoration: none;
            background: @color-126acc;
          }
        }
      }
    }
  }
  .treev1 {
    width: 238px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid @color-eee;
    border-bottom: 0;
    position: relative;
    .root {
      width: 100%;
      overflow: hidden;
      margin-top: -1px;
      *float: left;
      b {
        width: 228px;
        height: 27px;
        border-top: 1px solid @color-eee;
        display: block;
        padding: 0 0 0 10px;
        font-size:20px;
        line-height: 38px;
      }
      ul{
        &.tree-item-box {
          margin: -27px 0 0 29px;
          _margin-top: -34px;
          i{
            width:13px;
            height:14px;
            background:url("../img/sprite.png") no-repeat -4px -2318px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
            &.active{
              background:url("../img/sprite.png") no-repeat -4px -2332px;
            }
          }
        }
        &.tree-items {
          border-bottom: 1px dotted @color-eee;
          margin: 0;
          display: none;
          ul{
            display: block;

            li a{
              height:33px;
              big{
                line-height:33px;
              }
              display: block;
              &:hover{
                big{
                  color:#398BE4;

                }
                background:#eee;
              }
            }
            .saleoff{
              span{
                color: #999;
              }
              &:hover{
                color:#999;
                big{
                  color: #999;
                }
                span{
                  color: #999;
                }

              }
            }
          }

        }
      }
      a{
        &.mainBrand{
          &:link,&:visited {
            display: block;
            width: 182px;
            height: 36px;
            line-height: 36px;
            background: 0;
            border-bottom: 1px solid @color-eee;
            padding: 0 0 0 10px;
            span{
              color:#999;
            }
          }
          &:hover {
            background: @color-eee;
            text-decoration: none;
            color:@color-3189e9;
          }
        }
        &.brandType{
          &:link,&:visited {
            width: 170px;
            height: 33px;
            display: block;
            line-height: 22px;
            padding: 0 0 0 23px;
            margin: 3px 0 2px;
            span{
              color:#999;
            }
          }
          &:hover {
            text-decoration: none;
          }
          big {
            font-weight: bold
          }
        }
        &.subBrand{
          &:link,&:visited {
            padding: 0 0 0 23px;
            width: 160px;
            line-height: 33px;
            display: block;
            overflow: hidden;
            margin: 1px 0 1px 12px;

          }
          &:hover {
            text-decoration: none;
            background:#eee;
            big{
              color:#398BE4;

            }
          }
        }
      }
      big {
        font-size: 12px;
        color:#333;
        &.active{
          color:#398be4;
        }
      }
    }
  }

}
.treeMainv1{
  width:720px;
}
.leftNavTree{
  margin-top: 20px;
}
a.subBrand span{
    color: #999;
}