
//  头部标题导航菜单
.total_Nav{
  width: 990px;
  height: 44px;
  background: #398be4;
  margin: 0 auto;
  overflow: hidden;
  ul{
    height: 44px;
    li{
      float: left;
      cursor: pointer;
      a{
        padding: 12px 24px;
        font-size: 16px;
        line-height: 44px;
        width: 100%;
        height: 44px;
        color: #fff;
        font-family: "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
      }
      &:hover{
        background: #126acc;
      }
      &.active{
        background: #1064c1;
      }
    }

  }

}