//增加  没结果提示  dongbo
.not_found{
    margin-top:45px;
    display: block;
    img{
        display: inline-block;
        width: 233px;
        height:222px;
        margin-left:82px;
    }
    p{
        padding-left: 350px;
        line-height: 50px;
    }
    .sorry{
        padding-top: 97px;
        font-size:30px;
        font-weight: 600;
    }
    .ch{
        color:#999;
        font-size:18px;
    }
}