//  头部Logo样式
.logo {
  width: 990px;
  height: 114px;
  margin: 0 auto;
  // overflow: hidden;
  position: relative;
  img{
    display: block;
  }
  .logo_left{
    float: left;
    padding: 30px 20px 23px 6px;
  }
  .logo_right{
    float: right;
    padding-top: 12px;
    padding-bottom: 8px;
  }
}
//单独广告图样式
.hearer_advertisement{
  width: 100%;
  .hearer_advertisement_container{
    width: 990px;
    margin: 12px auto 0 auto;
    img{
      width: 100%;
      display: inline-block;
    }
  }
}