/*****
 *@author: jianingning
 *@from: Global style mod_carLike
 *@description: 何在朋
 *@date: name (2017.02.04)
*/




@import (reference) "../public";

.imgs_l_car {
    margin-bottom: 40px;

    li {
        float: left;
        width: 94px;
        height: 116px;
        margin-left: 8px;
        padding-top: 12px;
        text-align: center;

        a {
            img {
                .inline-block;
                width: 90px;
                height: 60px;
            }
            .imgs_l_name {
                color: @color-333;
                margin-top: 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .imgs_l_price {
                margin-top: 5px;
                color: @color-e43a3a;
            }
        }
        a:hover {
            .imgs_l_name {
                 color: @color-126acc;
                 text-decoration: underline;
            }
            .imgs_l_price {
                text-decoration: underline;
            }
        }
        a:active {
            .imgs_l_name {
                color: #1064c1;
                text-decoration: underline;
            }
        }
    }
}