.comments .myform div.user_hint{
  top: 11px;
  width: 691px;
  height: 88px;
  padding: 5px;
  text-align: center;
  line-height: 88px;
  z-index: 50;
  font-size: 14px;
  color: #000;
  a{
    color:#398be4;
  }
  a:hover{
    color:#126acc;
    text-decoration: underline;
  }
  span{
    margin:0 5px;
  }
}
.comments{
   .myform{
     p{
       .dis_no{
          display: none;
        }
     }
   }
}