/*****
 *@author: jianingning
 *@from: Global style mod_carLike
 *@description: 何在朋
 *@date: name (2017.02.04)
*/




@import (reference) "../public";
// 对联广告
.ad_duilian_wrap{
    width: 990px;
    margin: 0 auto;
    position: relative;
    top: -104px;
}

// 首页鼠标移入弹出广告
.car_intro{
    li{
        position: relative;
        .img_box{
            position: absolute;
            top:-134px;
            left: -24px;
            z-index: 12000;
            width:168px;
            height:122px;
            background: #fff;
            box-shadow: 0 0 14px #000;
            display: none;
            img{
                width: 157px;
                height:112px;
                padding:5px 6px;
            }
            span{
                width:8px;
                height:6px;
                display: block;
                position: absolute;
                bottom:-5px;
                left:48%;
                background: url(../img/dir_tri.png) no-repeat;
            }
            p{
                position: absolute;
                bottom: -15px;
                left:0;
                height:15px;
                width:100%;
            }
            a{
                b{
                    display: block;
                    position: absolute;
                    right: 1px;
                    bottom: 0;
                    width: 38px;
                    height: 16px;
                    border: 1px solid #eee;
                    color: #eee;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                }
            }
        }
    }
}

// 首页红色文字广告
.ad_text_list{
    width:341px;
    height:28px;
    border:1px solid rgba(255, 77, 78, 0.3) ;
    color:#ff4d4e;
    display: block;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-top: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    span{
        width: 38px;
        height: 16px;
        border: 1px solid #eee;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 16px;
        font-size: 12px;
        color: #eee;
    }
}

// 990通栏广告
.car_ad_mod{
    width: 990px;
    margin: 0 auto;
    margin-bottom: 20px;
    img{
        padding-top: 32px;
    }
    object{
        padding-top: 32px;
    }
}
// 右侧717通栏广告
.ad_right_mod{
    width: 717px;
    margin: 0 auto;
    margin-top: 40px;
    img{
        width: 717px;
        // height:70px;
        padding-top: 32px;
    }
}
// 文章页左侧通栏广告
.ad_article_mod{
    width:628px;
    img{
        width: 628px;
    }
}
.ad_article_botmod{
    width:704px;
    img{
        width: 704px;
    }
}
// 右侧204广告模块
.rightsm_ad_mod{
    width: 204px;
    margin: 0 auto 10px auto;
    img{
        width: 204px;
        // height: 130px;
        // padding-top: 8px;
    }
}
// 右侧252广告模块
.rightbottom_ad_mod{
    width: 252px;
    margin:0px auto 8px;
    img{
        width: 252px;
        // height: 170px;
    }
}
// 文章页右侧252广告模块
.rightarticle_ad_mod{
    width: 252px;
    margin: 0 auto;
    img{
        width: 252px;
        // height: 70px;
    }
}
// 底部通栏间距适配
.bottom_ad_tonglang{
    padding-bottom: 48px;
}
