/*****
 *@author: linyh
 *@from: Global style cinChoice module
 *@description: 何在朋
 *@date: name (2017.01.09)
*/


@import (reference) "../public";

//搜索汽车相关信息条件选择模块
.choice-search-module{
	width:@width-990;
	height:118px;
	margin:0 auto;
	clear: both;
	.display-none{
	    display: none;
	}
	//左侧点击选择区
	.choice-condition-list{
		color:@color-333;
		margin-right:31px;
		border-top:1px solid @color-eee;
		float:left;
		dl{
			width:720px;
			line-height:38px;
			border-bottom:1px solid @color-eee;
			overflow: hidden;
			dt{
				float:left;
				font-size: 14px;
				font-weight: 600;
			}
			dd{
				float:left;
				margin-left:10px;
				ul{
					li{
						float:left;
						padding-right:10px;
						a{
							display: inline-block;
							line-height:18px;
							padding:0 4px;
							&:link{
								color:@color-333;
							}
							&:visited{
								//color:@color-fff;
								background-color: @color-a-active;
							}
							&:hover{
								color:@color-fff;
								background-color: @color-a-hover;
							}
							&:active{
								color:@color-fff;
								background-color: @color-a-active;
							}
							// .a-state;
						}
					}
					//筛选页面样式差异
					.filter-choice-search-different{
						a{
							&:link{
								color:@color-fff;
							}
							&:visited{
								color:@color-fff;
								text-decoration: none;
							}
							&:hover{
								color:@color-fff;
								text-decoration: none;
							}
							&:active{
								color:@color-fff;
								text-decoration: none;
							}
							display: inline-block;
							text-align: center;
							line-height: 18px;
							background-color:#3189e9;
						}
					}
				}
			}
		}
		.car-type-list{
			.car-type-item{
				a{
					margin-left: 9px;
					&:first-child{
						margin:0;
					}
				}
			}
		}
	}
	//右侧滚动选择区
	.search-input{
		padding-left:32px;
		border-left:1px solid @color-eee;
		float:right;
		.simulation-select{
			border:1px solid @color-da;
			margin-bottom: 6px;
			overflow: hidden;
			cursor: pointer;
			span{
				color:@color-333;
				width:166px;
				line-height:30px;
				display: inline-block;
				padding-left: 4px;
				margin:1px;
				float:left;
			}
			i{
				display: inline-block;
				width:32px;
				height:30px;
				float:right;
				em{
					display: inline-block;
					width:16px;
					height:8px;
					margin:11px 0 0 11px;
					background-image:url(../img/icon_all.png);
					background-position:0 -18px;
					background-repeat: no-repeat;
				}
				.search-input-hover{
					background-position:0 -67px;
				}
			}
		}
		.scroll-box-style{
			color:@color-333;
			height:470px;
			border:1px solid @color-333;
			border-bottom: 5px solid @color-333;
			background-color: @color-fff;
			position: absolute;
			top:36px;
			left:0;
			z-index: 1000;
		}
		.choice-brand{
			position: relative;
			.choice-brand-input{
				.simulation-select;
				&:hover{
					border-color:@color-scroll-list-hover;
					em{
						background-position:0 -67px;
					}
				}
			}
			.color-input-border{
				border-color:@color-scroll-list-hover;
			}
			.brand-scroll-list-box{
				width: 204px;
				.scroll-box-style;
				.brand-letter-index{
					float:left;
					width:31px;
					border-right:1px solid @color-eee;
					span{
						display: inline-block;
						width:31px;
						text-align: center;
						line-height:18px;
						&:hover{
							a{
								color:@color-scroll-list-hover;
							}
						}
						&:first-child{
							a{
								color:@color-scroll-list-hover;
							}
						}
					}
				}
				.brand-scroll-list{
					float:right;
					height:470px;
					overflow: auto;
					ul{
						border-top: 1px solid @color-eee;
						li{
							padding-left:8px;
							width:164px;
							line-height: 28px;
							cursor: pointer;
							a{
								span{
									padding-left: 8px;
								}
							}
							&:hover{
								a{
									color:@color-fff;
								}
								background-color:@color-scroll-list-hover;
							}
						}
					}

				}
			}
		}
		.choice-car-type{
			position: relative;
			.dis_hover{
				&:hover{
					border-color: @color-a-hover;
					em{
						background-position: 0 -67px;
					}
				}
			}
			.choice-car-type-input{
				.simulation-select;
				span{
					color:@color-aaa;
				}
			}
			.color-input-border{
				border-color:@color-scroll-list-hover;
			}
			.car-type-scroll-list{
				width:204px;
				.scroll-box-style;
				overflow: auto;
				dl{
					width:204px;
					line-height:28px;
					dt{
						text-align: center;
						background-color:@color-f7;
					}
					dd{
						padding-left:8px;
						cursor: pointer;
						&:hover{
							a{
								color:@color-fff;
							}
							background-color:@color-scroll-list-hover;
						}
					}
				}
			}
		}
		.search-submit-btn{
			font-size:@fontSize-16;
			line-height: 36px;
			text-align: center;
			a{
				width:206px;
				color:@color-fff;
				background:@color-submit-initial;
				display: none;
				&:hover{
					background-color:@color-submit-hover;
				}
				&:active{
					background-color:@color-submit-active;
				}
			}
			span{
				color:@color-fff;
				width:206px;
				display: inline-block;
				background:@color-submit-initial;
				filter: alpha(opacity=80);
				opacity: 0.8;
			}
		}
	}
}
