.share-to-qq{
	text-align: center;
	margin-top: 28px;
	position: relative;
	a{
	margin-right: 20px
	}

	.icon-wx_norme {
	    background-image: url(../img/sprite.png);
	    background-position: 0px -860px;
	    width: 40px;
	    height: 40px;
	    display: inline-block;
	    img{
	    padding-top: 10px;
	    margin-top: -10px;
	    top: 45px;
	    left: -76px;
	    display: none;
	  }
	}
	.icon-wx_norme:hover{
	  background-position: 0px -1130px;
	}
	.icon-wx_norme:active{
	  background-position: 0px -1355px;
	}
	.icon-wb_norme {
		background-image: url(../img/sprite.png);
		background-position: 0px -1310px;
		width: 40px;
		 height: 40px;
		 display: inline-block;
	}
	.c-p {
	    cursor: pointer;
	}
	.icon-wb_norme {
	    background-image: url(../img/sprite.png);
	    background-position: 0px -1310px;
	    width: 40px;
	    height: 40px;
	    display: inline-block;
	}
	.icon-wb_norme:hover{
	  background-position: 0px -1265px;
	}
	.icon-wb_norme:active{
	  background-position: 0px -1220px;
	}
	.icon-qq_norme {
	    background-image: url(../img/sprite.png);
	    background-position: 0px -905px;
	    width: 40px;
	    height: 40px;
	    display: inline-block;
	}
	.icon-qq_norme:hover{
	  background-position: 0px -950px;
	}
	.icon-qq_norme:active{
	  background-position: 0px -995px;
	}
	.icon-kj_norme{
	  background-image: url("../img/sprite.png");
	  background-position: 0px -1040px;
	  width: 40px;
	  height: 40px;
	  display: inline-block;
	}
	.icon-kj_norme:hover{
	  background-position: 0px -1085px;
	}
	.icon-kj_norme:active{
	  background-position: 0px -815px;
	}

}
#putweixin {
	    position: absolute;
	    top: 138px;
	    left: -32px;
	    display: none;
	}