
.footer {
   width: 100%;
   background: #333;
   height: 78px;
   overflow: hidden;
   .footer_content{
     overflow: hidden;
     width: 990px;
     height: 78px;
     margin: 0 auto;
     background: #333;
     z-index: 9999999999999;
     ul{
       width: 638px;
       height: 78px;
       margin: 0 176px;
       line-height: 78px;
       li{
         float: left;
         a{
           display: block;
           font-size: 12px;
           color: #ffffff;
             font-family: "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
         }
         &.footer_message{
           margin-right: 56px;
         }
       }
     }
   }
 }