/*****
 *@author: jianingning
 *@from: Global style 别人看专家,标兵，普通  中提问，问答样式
 *@description: 
 *@date: name (2017.03.09)
*/



/*提问，回答*/
.zhj_answer_box {
	width: 740px;
	margin-top: 27px;

	.zhj_answer_type {
		height: 30px;
		padding-top: 14px;
		border-bottom: 4px solid #333;

		li {
			float: left;
			height: 18px;
			line-height: 16px;
			font-size: 16px;
			padding: 0 13px;
			cursor: pointer;
		}
		.zhj_first_li {
			border-right: 1px solid #eee;
			padding-left: 0;
		}
		.zhj_active {
			font-weight: 700;
		}
	}
	.zhj_con {
		display: none;

		.zhj_con_list {
			padding-top: 12px;
			border-bottom: 1px solid #eee;
			line-height: 24px;
			position: relative;
			.zhj_text_wrap {
				position: relative;
				.zhj_con_text {
					line-height: 23px;
					word-break: break-all;
					font-size: 14px;
				}
			}
			.zhj_con_quote {
				width: 710px;
				margin-top: 20px;
				padding: 15px;
				background: #f7f7f7;
				font-size: 14px; 
				line-height: 23px;

				p {
					i {
						color: #bcbcbc;
					}
					span {
						display: block;
						display: -webkit-box;
						overflow: hidden;
						white-space: normal!important;
						text-overflow: ellipsis;
						word-wrap: break-word;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
				}
			}

			.q_image{
				//width: 440px;
				overflow: hidden;
				max-height: 200px;
				margin-top: 15px;
				div{
					width: 200px;
					height: 200px;
					overflow: hidden;
					float: left;
					line-height: 200px;
					margin-bottom:10px ;
					margin-left: 10px;
					background:url("../img/default_a.png")  center center no-repeat;
					background-size: cover;
					&:hover{
						cursor: pointer;
					}
					a{
						width: 200px;
						height: 200px;
						display: block;
					}
				}
			}
			.max-height-200{
				max-height: 200px;
			}
			.zhj_con_sign {
				height: 54px;
				line-height: 54px;

				.zhj_time,
				.zhj_reply {
					font-size: 14px;
					color: #bcbcbc;
				}
				.zhj_time {
					float: left;
				}
				.zhj_reply,
				.zhj_zan {
					float: right;
				}
				.zhj_zan {
					cursor: pointer;
					.zhj_zan_icon {
						float: left;
						margin-top :17px;
						margin-right: 5px;
						display: inline-block;
						width: 18px;
						height: 16px;
						background: url(../img/zan_kong.png);
					}
				}
			}
		}
	}
	.zhj_show {
		display: block;
	}
	.zhj_down {
		display: inline-block;
		width:80px;
		height:20px;
		background: #fff;
		//position: absolute;
		right: 0px;
		top: 60px;
		color: #398be4;
		cursor: pointer;
		display: none;
		img {
			margin-top: 10px;
			margin-left: 3px;
		}
	}
	/*内容为空显示*/
	.zhj_empty {
		width: 740px;
		min-height: 307px;
		position: relative;
		display: none;
		img {
			display: block;
			width: 240px;
			height: 202px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -101px 0 0 -120px;
		}
	}
}