



@import (reference) "../public";

.willAsk {
    width: 68px;
    height: 68px;
    border: 1px solid #bababa;
    background: @color-eee;
    position: fixed;
    left:50%;
    margin-left:520px;
    bottom: 240px;
    cursor: pointer;
    display: none;

    .willAsk_icon {
        margin: 12px auto 0 auto;
        display: block;
        width: 28px;
        height: 25px;
        background-image: url(../img/pan.png);
        background-repeat: no-repeat;
    }
    .willAsk_text {
        font-weight: 700;
        color: @color-999;
        display: block;
        height: 32px;
        line-height:32px;
        text-align: center;
    }
    &:hover {
        background: #3a8be4;
        .willAsk_icon{
            background-image: url(../img/will_active.png);
        }
        .willAsk_text {
            color: @color-fff;
        }
    }
}
