.video_top{
    p{
        height:1.173rem;
        width: 100%;
        line-height: 1.173rem;
        text-align: center;
        color:#ffffff;
        background:-webkit-linear-gradient(left,#23a6fe,#2484fa);
        a{
            img{
                width: 0.24rem;
                height: 0.427rem;
                vertical-align: middle;
                margin-left: 30px;
            };

        }
        .title{
            font-size: 16px;
            font-weight: 600;
        }
        .title_extra{
            font-size: 16px;
            font-weight: 600;
        }
        .nav_btn{
            position: absolute;
            right: 30px;
            font-size: 15px;
            font-weight: 600;
            color:#ffffff;
        }
        .p{
            margin:0px 9px;
        }
        .goback_btn{
            position: absolute;
            left: 0px;
        }

    }
}
[data-dpr="2"] .video_top{
    p{
        position: relative;
        .title{
            font-size: 32px;

        }
        .title_extra{
            font-size: 32px;
        }
        .nav_btn{
            font-size: 30px;
        }
    }
}
[data-dpr="3"] .video_top{
    p{
        .title{
            font-size: 48px;
        }
        .title_extra{
            font-size: 48px;
        }
        .nav_btn{
            font-size: 45px;
        }
    }
}