/*****
 *@author: dongbo
 *@from: Global style videoIndex
 *@description:
 *@date: name (2017.02.22)
*/

.load_more{
        height: 0.96rem;
        background-color:#edf7ff;
        text-align: center;
        line-height: 0.96rem;
        font-size:13px;
        color: #52adfe;
        .icon{
            display: inline-block;
            height: 10px;
            width: 18px;
            background: url("../img/video_load_more_icon.png") no-repeat;
            background-size: cover;
        }
        .dot-bottom {
            margin-left: 0.12rem;
            display:inline-block;
            width: 0.16rem;
            height: 0.16rem;
            border-color: #52adfe;
            border-top: 1px solid;
            border-left:1px solid;
            transform:rotate(225deg);
            vertical-align: super;
        }
    }
[data-dpr="2"] body{
        .list{
            li{
                a{
                    .video_des{
                        font-size: 30px;
                    }
                    .img_box{
                        .time_title{
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        .load_more{
            font-size: 26px;
        }
        .bottom_page_index{
            p{
                font-size: 26px;
            }
        }

    }
[data-dpr="3"] body{

            .load_more{
                font-size: 39px;
            }
    }