<div class="swiper-container-fp">
<swiper :options="swiperOption" ref="carserialSwiper">
  <swiper-slide>
    <carserial-index></carserial-index>
  </swiper-slide>
  <swiper-slide>
    <carserial-price></carserial-price>
  </swiper-slide>
  <swiper-slide>
    <carserial-pic></carserial-pic>
  </swiper-slide>
  <swiper-slide>
    <carserial-param></carserial-param>
  </swiper-slide>
  <swiper-slide>
    <carserial-news></carserial-news>
  </swiper-slide>
  <swiper-slide>
    <carserial-dealer></carserial-dealer>
  </swiper-slide>
  <swiper-slide>
    <carserial-tj></carserial-tj>
  </swiper-slide>
  <swiper-slide>
    <carserial-gz></carserial-gz>
  </swiper-slide>
</swiper>
  <div class="rotatoHint_mask"></div>
  <div class="rotatoHint"><img src="../../img/rotatoHint.png"></div>
</div>
