<div class="share_mask mask2"></div>
<div class="zsh_shareLayer">
    <ul class="clearfix">
        <li action="wx_friend">
            <a href="javascript:void(0);"><span class="zsh_wx"></span><span>微信</span></a>
        </li>
        <li action="wx_timeline">
            <a href="javascript:void(0);"><span class="zsh_pyq"></span><span>朋友圈</span></a>
        </li>
        <!-- <li action="qq">
            <a href="javascript:void(0);"><span class="zsh_qq"></span><span>QQ</span></a>
        </li> -->
        <li action="weibo">
            <a href="javascript:void(0);"><span class="zsh_wb"></span><span>微博</span></a>
        </li>
        <li action="qqzone">
            <a href="javascript:void(0);"><span class="zsh_kj"></span><span>QQ空间</span></a>
        </li>
    </ul>
    <button type="button" class="zsh_cancel">取消</button>
</div>
<!-- 微信提示层 -->
<div class="safari_mask mask2"></div>
<div class="wx_fixed_tip wx_share_tip">
    <p>1、在Safari浏览器中点击“<img src="../../img/share_img1.jpg" class="share_img1">”</p>
    <p>2、在弹出的浮层中点击更多“<img src="../../img/share_img2.jpg" class="share_img2">”</p>
    <p>3、微信设置为“<img src="../../img/share_img3.jpg" class="share_img3">”状态</p>
    <p>4、完成以上操作即可查看“微信”图标</p>
    <p>
        <img src="../../img/share_img4.jpg" class="share_img4">
        <img src="../../img/share_img4.jpg" class="share_img4">
        <img src="../../img/share_img5.jpg" class="share_img5" >
        <img src="../../img/share_img2.jpg" class="share_img2">
        点击完成分享
    </p>
</div>
<!-- 分享提示 -->
<div class="wx_mask mask2"></div>
<div class="tips share_tip">
    <p>点击 ••• 即可将内容“发送给朋友”或“分享到朋友圈”</p>
    <i></i>
</div>
