/*****
  @ author: wenshan
  @ from: 404
  @ description: 何在朋
  @ date: name (2017.03.21)
*/




/*****
  @ import header & footer
*/
@import "./mod/mod_headerTitle";
@import "./mod/mod_footer";

.main404 {
    margin: 0 auto;
    width: 990px;
    min-height: 600px;
    text-align: center;
    img {
        display: inline-block;
        margin-top: 100px;
    }
    p {
        font-size: 18px;
        margin: 20px 0 40px;
    }
    a {
        border: 1px solid #3a8be4;
        line-height: 58px;
        display: inline-block;
        border-radius: 30px;
        width: 300px;
        color: #3a8be4;
        font-size: 16px;
        margin-bottom: 20px;
    }
}