.car_banner{
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  .swiper-container{
    width: 990px;
    height: 364px;
    position: relative;
    //margin: 0 auto;
    //overflow: hidden;
    margin: 36px 0 18px 0;
    .swiper-wrapper{
      width: 7999px;
      height: 346px;
      left:0;
      top:0;
      position: absolute;
      clear: both;
      .swiper-slide{
        float: left;
        //display: block;
        //width: 990px;
        height: 346px;
        .car_big_img{
          width: 468px;
          height: 346px;
          float: left;
          margin-right: 6px;
          position: relative;
          a{
            width: 468px;
            height: 346px;
            display: block;
            &:hover{
              .img_description{
                background:rgba(57,139,228,0.8) ;
              }
            }
            img{
              width: 100%;
              height: 100%;
            }
            .img_description{
              position: absolute;
              width: 468px;
              height: 32px;
              bottom:0px;
              line-height: 32px;
              text-align: center;
              color: white;
              background: rgba(0,0,0,0.8);
              &:hover{
                background:rgba(57,139,228,0.8) ;
              }
            }
          }
        }
        .car_small_img{
          float: left;
          width: 522px;
          height: 346px;
          position: relative;

          li{
            margin: 0;
            padding: 0;
            float: left;
            &.first{
              margin-bottom: 3px;
            }

            a{
              display: inline-block;
              width: 255px;
              height: 170px;
              margin-right: 2px;
              position: relative;
              &:hover{
                .img_description{
                  background:rgba(57,139,228,0.8) ;
                }
              }
              img{
                width: 100%;
                height: 100%;
              }
              span{
                display: block;
                &.img_description{
                  position: absolute;
                  color: white;
                  text-align: center;
                  left: 0px;
                  bottom: 0;
                  line-height: 32px;
                  width: 255px;
                  height: 32px;
                  background: rgba(0,0,0,0.8);
                }
              }
            }
          }
        }
      }
    }
    a{
      display: none;
      &.left{
        position: absolute;
        top: 133px;
        left: 0;
        &:hover{
          background-image: url("../img/sprite3.png");
          background-position: 0px -114px;
          width: 40px;
          height: 80px;
          display: inline-block;
        }
      }
      &.right{
        position: absolute;
        top: 133px;
        right: 1px;
        &:hover{
          background-image: url("../img/sprite3.png");
          background-position: -90px -29px;
          width: 40px;
          height: 80px;
          display: inline-block;
        }
      }
    }
    .banner_tip{
      position: absolute;
      bottom: -10px;
      left: 367px;
      margin: 0 auto;
      span{
        float: left;
        display:block;
        cursor: pointer;
      }
    }
  }
}


