@import (reference) "public";
.cursor {
	cursor: pointer;
}
.inline-block {
	display:inline-block;
}
.comments {
			margin-top:40px;
			.comments-tit {
				height:32px;
				padding-bottom:5px;
				border-bottom:@border-b-333;
				h3 {
					font-size:@font-size-12 + 8;
					color:@color-333;
					font-weight:@font-weight-b;
					margin-top:3px;
				}
				p {
					margin-top:15px;
					.cursor;
					a {
						color:@color-999;
					}
				}
			}
			.myform {
				.textarea {
					width:699px;
					height:88px;
					border:1px solid #c4c4c4;
					margin-top:11px;
					resize:none;
				}
				p {
					height:37px;
					line-height:37px;
					color:@color-999;

					.setf-name {
						color:@color-333;
					}
					.exit {
						color:@color-333;
						.cursor;
					}
					.submit {
						.inline-block;
						width:78px;
						height:24px;
						background:@color-orange;
						color:@color-fff;
						font-size:@font-size-12 + 2;
						margin-top:5px;
						.cursor;
					}
				}
			}
			.n-comments-tit {
				height:29px;
				padding-top:29px;
				border-bottom:@border-b-333;
				font-size:@font-size-12 + 4;
			}
			.comments-con {
				height:auto;

				.comments-type {
					border-bottom:1px solid @color-eee;
					padding-bottom:12px;

					.photo-box {
						width:60px;
						height:60px;
						margin-top:16px;
						margin-right:12px;

						img {
							.inline-block;
							position:absolute;
							top:0;
							left:0;
							z-index:2;
						}
						.photo-mask {
							.inline-block;
							width:60px;
							height:60px;
							background:url(../img/photo_mask.png) no-repeat;
							position:absolute;
							top:0;
							left:0;
							z-index:3;
						}
						.floor {
							.inline-block;
							width:60px;
							color:@color-999;
							position:absolute;
							top:65px;
							left:0px;
							text-align:center;
						}
					}
					dd {
						width:620px;
						min-height:100px;

						.c-borderB {
							width:616px;
							height:auto;
							border:1px solid #DADADA;
							background:#F7F7F7;
							margin-top:14px;
							margin-bottom:5px;
							padding-top:12px;

							p {
								border-bottom:1px solid #DADADA;
								padding-left:20px;
								padding:10px 20px;

								span {
									display:block;
								}
								.c-borderB-new {
									color:@color-999;
								}
								.c-borderB-con {
									color:@color-333;
									line-height:25px;
								}
							}
							p:last-child{
								border-bottom:none;
							}
							.sh {
								height:59px;
								border-bottom:1px solid #DADADA;
								background:@color-fff;
								font-size:@font-size-12 + 2;
								color:@color-333;
								text-align:center;
								line-height:59px;
								.cursor;

								.sh-img{
									.inline-block;
									margin-left:4px;
								}
							}
						}
						.nt {
							margin-top:16px;
							width:620px;

							.c-name {
								color:@color-333;
								.inline-block;
								margin-right:20px;
							}
							.c-time {
								color:@color-999;
							}
						}
						.c-con {
							width:620px;
							color:@color-333;
							line-height:30px;
						}
						.c-zan {
							margin-top:20px;
							span {
								.inline-block;
								.cursor;
							}
							.c-zan-num {
								margin-right:20px;
								color:@color-orange;
							}
						}
					}
					.reply-box {
						width:677px;
						height:43px;
						border:1px solid #dadada;
						margin-top:20px;
						padding-left:10px;
						padding-top:5px;
						resize:none;
						display:none;
					}
					.reply-release {
						width:78px;
						height:24px;
						border:none;
						font-size:@font-size-12 + 2;
						color:@color-fff;
						background:@color-orange;
						margin-top:5px;
						.cursor;
						display:none;
					}
				}
			}
			.see-more-c {
				height:40px;
				background:@color-eee;
				font-size:@font-size-12 + 2;
				line-height:40px;
				text-align: center;
				.cursor;
				margin-top:20px;

				a {
					color:@color-666;
					&:hover {
						color:@color-blue-h;
					}
				}
				
			}
		}