@import (reference) "public";
@import "mod/mod_footer";
@import "mod/mod_goTop";
@import "mod/mod_headerLogo";
@import "mod/mod_headerTitle";
@import "mod/mod_headerMenu";
@import "mod/mod_willAsk";
@import "mod/mod_alert_delete";
@import "mod/mod_alert_report";
@import "mod/mod_answer_content";
@import "mod/mod_preview_image";
@import "mod/mod_small_head";
@import "mod/mod_pagination.less";
@import "mod/mod_share";
.main{
    width: 990px;
    margin: 0 auto;
    font-size: 14px;
    .section{
        .gray{
            color: @color-999;
        }
        p{
            line-height: 24px;
        }
        .w_left{
            width: 720px;
            .q_title{
                margin-top: 20px;
                h2{
                    border-bottom: @border-b-333;
                    width: 100%;
                }
            }
            .q_content{
                .q_icon{
                    margin: 10px 0;
                    & > div{
                        height: 50px;
                        display: inline-block;
                        vertical-align: middle;
                        img{
                            cursor: pointer;
                            height: 50px;
                            width: 50px;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        .q_photo_mask {
                            display: inline-block;
                            width: 50px;
                            height: 51px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 2;
                        }
                        .honor{
                            bottom: -4px;
                            left: -10px;
                            height: 16px;
                            position: absolute;
                            width: inherit;
                            z-index: 3;
                        }
                    }
                    .absolute{
                        a{
                            img{
                                width: 12px;
                                vertical-align: middle;
                            }
                        }
                        .follow{
                            padding-left: 20px;
                            background: url("../img/xin.png")  no-repeat  center left;
                        }
                        .share{
                            padding-left: 20px;
                            background:url("../img/hover_share.png")  no-repeat  center left;
                            margin-left: 20px;
                        }
                    }
                    .info{
                        display: inline-block;
                        vertical-align: middle;
                        height: 50px;
                        margin-left: 10px;
                        position: relative;
                        p{
                            position: absolute;
                            font-size: @font-12;
                            left: 0;
                            width: 120px;
                            overflow: hidden;
                            line-height: inherit;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            span{
                                margin-right: 10px;
                            }
                        }
                        .userName{
                            top:4px;
                            width: 195px;
                        }
                        .gray{
                            bottom:4px;
                        }
                    }
                    & > .absolute{
                        top:0px;
                        right: 0px;
                    }
                }
                .q_content{
                    margin-bottom: 15px;
                    word-break: break-all;
                    word-wrap: break-word;
                    .red{
                        color:@color-fe0000;
                    }
                    .blue{
                        color:@color-398be4;
                    }
                }
                //#height-210px{
                //    height: 200px;
                //}
                .q_image{
                    width: 470px;
                    overflow: hidden;
                    margin-top: 15px;
                    //height: 290px;
                    div{
                        width: 200px;
                        height: 200px;
                        overflow: hidden;
                        float: left;
                        line-height: 200px;
                        margin-bottom:10px ;
                        margin-left: 10px;
                        background:url("../img/default_a.png")  center center no-repeat;
                        background-size: cover;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .q_label{
                    margin:20px 0;
                    min-height: 20px;
                    max-height: 60px;
                    .label{
                        width: 500px;
                        line-height: 30px;
                        a{
                            border:1px solid @color-398be4;
                            padding:2px 8px;
                            margin-right: 8px;
                            color: @color-398be4;
                            white-space: nowrap;
                        }
                    }
                    .reply{
                        right: 0px;
                        top:0px;
                    }
                }
            }
            .answer_public{
                margin-bottom: 40px;
                border-top: 1px solid @color-eee;
                h3{
                    margin: 20px 0 10px 0;
                    font-weight: 500;
                    font-size: @font-20;
                }
                .answer_button{
                    margin-top: 20px;
                    input{
                        width: 470px;
                        height: 40px;
                        background-color: @color-ffa903;
                        color:@color-fff;
                        font-size: @font-14;
                    }
                }
            }
            .answer_list{
                & > h2{
                    font-size: @font-20;
                    padding-bottom: 10px;
                    border-bottom: @border-b-333;
                    font-weight: @font-weight-b;
                }
                ul{
                    li{
                        margin-top:20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid @color-eee;
                        .a_icon{
                            margin: 10px 0;
                            & > div{
                                display: inline-block;
                                vertical-align: middle;
                                .honor{
                                    bottom: -4px;
                                    left: -10px;
                                    height: 16px;
                                    position: absolute;
                                    width: inherit;
                                    z-index: 3;
                                }
                                img{
                                    cursor: pointer;
                                    width: 50px;
                                    border-radius: 50px;
                                    height: 50px;
                                    border-radius: 0;
                                    &:hover{
                                        cursor: pointer;
                                    }
                                }
                                .q_photo_mask {
                                    display: inline-block;
                                    width: 50px;
                                    height: 51px;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: 2;
                                }
                            }
                            .info{
                                display: inline-block;
                                vertical-align: middle;
                                height: 50px;
                                margin-left: 10px;
                                position: relative;
                                p{
                                    position: absolute;
                                    font-size: @font-12;
                                    left: 0;
                                    width: 120px;
                                    overflow: hidden;
                                    line-height: inherit;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    span{
                                        margin-right: 10px;
                                    }
                                }
                                .userName{
                                    top:4px;
                                    width: 195px;
                                }
                                .gray{
                                    bottom:4px;
                                }
                            }
                            .absolute{
                                top:0px;
                                right: 0px;
                                a{
                                    img{
                                        width: 18px;
                                        margin-right: 4px;
                                        height: inherit;
                                    }
                                }
                            }
                        }
                        .a_content{
                            margin-bottom: 20px;
                            position: relative;
                            word-break: break-all;
                            word-wrap: break-word;
                            .zhj_down{
                                width: 80px;
                                height: 20px;
                                background: #fff;
                                //position: absolute;
                                right: 0px;
                                top: 50px;
                                color: #398be4;
                                cursor: pointer;
                                display: none;
                                img{
                                    margin-top: 8px;
                                    margin-left: 3px;
                                }
                            }
                            .link{
                                margin: 20px 0;
                                padding:10px 20px;
                                line-height: 25px;
                                background-color: @color-eee;
                                a{
                                    &:hover{
                                        cursor: default;
                                    }
                                }
                            }
                            .q_image{
                                //width: 440px;
                                overflow: hidden;
                                //height: 290px;
                                margin-top: 15px;
                                div{
                                    width: 200px;
                                    height: 200px;
                                    overflow: hidden;
                                    float: left;
                                    line-height: 200px;
                                    margin-bottom:10px ;
                                    margin-left: 10px;
                                    background:url("../img/default_a.png")  center center no-repeat;
                                    background-size: cover;
                                }
                            }
                        }
                        #a_height-210px{
                            height: 200px;
                        }
                        #a_height-inherit{
                            height: inherit;
                        }
                        .a_image{
                            margin-top: 15px;
                            width: 440px;
                            overflow: hidden;
                            height: 290px;
                            img{
                                max-width: 300px;
                                margin-bottom:10px ;
                                margin-left: 10px;
                                float: left;
                                &:hover{
                                    cursor: pointer;
                                }
                                &:nth-child(1),&:nth-child(4){
                                    margin-left: 0;
                                }
                            }
                        }
                        .a_label{
                            margin:20px 0 34px 0;
                            .label{
                                width: 440px;
                                a{
                                    border:1px solid @color-398be4;
                                    padding:2px 8px;
                                    margin-right: 8px;
                                    color: @color-398be4;
                                }
                            }
                            .reply{
                                right: 0px;
                                top:0px;
                                a{
                                    padding: 0 10px;
                                    img{
                                        vertical-align: middle;
                                    }
                                }
                                span{
                                    border-right: 1px solid @color-eee;
                                }
                            }
                        }
                    }
                }
            }
        }
        .w_right{
            .example{
                margin-top: 40px;
                ul{
                    max-height: 400px;
                    overflow: hidden;
                    li{
                        margin-top: 20px;
                        &:after{
                            content: "";
                            clear: both;
                            display: table;
                        }
                        .exa_icon{
                            position: relative;
                            img{
                                width: 60px;
                                height: 60px;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                            .q_photo_mask{
                                position: absolute;
                                top:0;
                                left: 0;
                                width: 60px;
                            }
                        }
                        .exa_sec{

                            margin-left: 10px;
                            h3{
                                line-height: 24px;
                                font-size: @font-16;
                                font-weight: 500;
                                margin-top: -4px;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                            p{
                                font-size: @font-12;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
            .ercode{
                margin-top: 20px;
                text-align: center;
                img{
                    width: 80%;
                }
            }
        }
        .answer_reply{
            display: none;
            margin-top: 40px;
        }
    }
}
