/*****
 *@author: jianingning
 *@from: Global style wenda_lijitiwen
 *@description: 
 *@date: name (2017.03.08)
*/



@import (reference) "public";
@import "mod/mod_headerTitle.less";
@import "mod/mod_headerLogo.less";
@import "mod/mod_headerMenu.less";
@import "mod/mod_wendaAnswer.less";
@import "mod/mod_footer.less";

.lj_content {
	width: 990px;
	height: 811px;
	margin: 0 auto;
}
