/*****
 *@author: jianingning
 *@from: Global style mod_footer
 *@description:
 *@date: name (2017.02.20)
*/



.video_fte{
    background-color: #ffffff;
    height:1.36rem;
    text-align: center;
    line-height: 1.36rem;
    font-size:12px;
    .colora4{
        color: #a4a4a4;
    }
}
[data-dpr="2"] .video_fte {
    font-size: 24px;
}
[data-dpr="3"] .video_fte {
    font-size: 36px;
}
