

@import (reference) "../public";

.mask_area{
    display: none;
    .mask{
        width: 100%;
        height: 100%;
        background-color: @mask-bg;
        filter:alpha(opacity=50);
        opacity: .5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .mask_jt{
        background-image: url("../img/double_jt.png");
        background-size: cover;
        width: .693rem /* 52/75 */;
        height: .64rem /* 48/75 */;
        position: fixed;
        top: 48%;
        left: 10.93%;
        z-index: 999;
    }
}

// 右侧box相同样式
.right_box{
    width: 76.667%;
    height: 100%;
    background-color: @color-fff;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    &::-webkit-scrollbar{
        width: 0;
    }
}

// 右侧抽屉品牌
.right_brand_module{
    .right_box;
    //字母所在行公共样式
    .module_title{
        color: @sub-brand-name;
        //font-size: 13px;
        line-height: .72rem /* 54/75 */;
        background-color: @bg-color;
        padding-left: .4rem /* 30/75 */;
    }
    .brand_type{
        position: relative;
        .brand_list{
            .letter_title{
                .module_title;
                //font-size: 14px;
                padding-left: .667rem /* 50/75 */;
            }
            .brand_box{
                //font-size: 0.35rem;

                li{
                    overflow: hidden;
                    a{
                        line-height: 1.427rem /* 107/75 */;
                        display: block;
                        overflow: hidden;
                        i{
                            float: left;
                            padding: 0 .507rem /* 38/75 */;
                            img{
                                width: .987rem /* 74/75 */;
                                height: .987rem /* 74/75 */;
                                margin: .173rem /* 13/75 */;
                                vertical-align: middle;
                                display: inline-block;
                            }
                        }
                        .brand_name{
                            width: 68%;
                            border-bottom: 1px solid @list-border;
                            float: left;
                        }
                    }
                }
            }
        }
        .letter_list{
            display: none;
            position: absolute;
            top: .747rem /* 56/75 */;
            right: 0;
            z-index: 1;
            li{
                width: .8rem /* 60/75 */;
                line-height: .48rem /* 36/75 */;
                text-align: center;
                .checked{
                    color: @color-main-blue;
                }
            }
        }
        .letter_list_fix{
            position: fixed;
            top: 1.76rem /* 132/75 */;
            right: 0;
            z-index: 99;
        }
        .letter_alert{
            font-size: 50px;
            width: 1.867rem /* 140/75 */;
            height: 1.867rem /* 140/75 */;
            border: 1px solid @letter-alert-border;
            background-color: @letter-alert-bg;
            border-radius: .133rem /* 10/75 */;
            text-align: center;
            margin-top: -.933rem /* 70/75 */;
            margin-left: -.933rem /* 70/75 */;
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 999;
            display: none;
            span{
                color: @color-888;
                line-height: 1.867rem /* 140/75 */;
            }
        }
    }
}

// 右侧抽屉车款
.right_type_module{
    .right_box;
    width: 74.667%;
    z-index: 1000;
    .car_type_module{
        .type_brand{
            //font-size: 16px;
            line-height: 1.413rem /* 106/75 */;
            .type_brand_logo{
                background-image: url("../../img/pic/aodi_logo.png");
                background-size: 100% 100%;
                width: .96rem /* 72/75 */;
                height: .96rem /* 72/75 */;
                display: inline-block;
                vertical-align: middle;
                margin: 0 .4rem /* 30/75 */;
            }
        }
        .type_msg_list{
            .sub_brand_name{
                //font-size: 13px;
                color: @sub-brand-name;
                line-height: .72rem /* 54/75 */;
                background-color: @bg-bar;
                padding: 0 .32rem /* 24/75 */
            }
            ul{
                //font-size: 0.35rem;
                    border-bottom: 1px solid @list-border;
                    a{
                        line-height: 2.053rem /* 154/75 */;
                        display: block;
                        overflow: hidden;
                        img{
                            float: left;
                            width: 1.88rem /* 141/75 */;
                            height: 1.253rem /* 94/75 */;
                            margin: .347rem /* 26/75 */ .267rem /* 20/75 */ 0 0;
                        }
                        span{
                            float: left;
                        }
                    }
                }
            }
        }
    }


// 右侧问题类型
.right_issues_module{
    .right_box;
    .issues_list{
        font-size: 16px;
        ul{
            li{
                margin: 0 .4rem /* 30/75 */;
                line-height: 1.32rem /* 99/75 */;
                border-bottom: 1px solid @list-border;
                a{
                    display: block;
                }
                .current{
                    color: @color-main-blue;
                }
            }
        }
    }
}

//dpr=2字体大小（右侧品牌抽屉）
[data-dpr="2"] .right_brand_module{
    .brand_type{
        .brand_list{
            .letter_title{
                font-size: 28px;
            }
            .brand_box{
                font-size: 30px;
            }
        }
        .letter_alert{
            font-size: 100px;
        }
    }
}
//dpr=3字体大小（右侧品牌抽屉）
[data-dpr="3"] .right_brand_module{
    .brand_type{
        .brand_list{
            .letter_title{
                font-size: 42px;
            }
            .brand_box{
                font-size: 45px;
            }
        }
        .letter_alert{
            font-size: 150px;
        }
    }
}

//dpr=2 字体大小（右侧车型抽屉）
[data-dpr="2"] .right_type_module{
    .car_type_module{
        .type_brand{
            font-size: 32px;
        }
        .type_msg_list{
            .sub_brand_name{
                font-size: 26px;
            }
            ul{
                font-size: 30px;
            }
        }
    }
}
//dpr=3 字体大小（右侧车型抽屉）
[data-dpr="3"] .right_type_module{
    .car_type_module{
        .type_brand{
            font-size: 48px;
        }
        .type_msg_list{
            .sub_brand_name{
                font-size: 39px;
            }
            ul{
                font-size: 45px;
            }
        }
    }
}

//dpr=2 字体大小（右侧问题类型）
[data-dpr="2"] .right_issues_module{
    .issues_list{
        font-size: 32px;
    }
}
//dpr=3 字体大小（右侧问题类型）
[data-dpr="3"] .right_issues_module{
    .issues_list{
        font-size: 48px;
    }
}
