/*****
 *@author: jianingning
 *@from: Global style mod_carNav
 *@description:
 *@date: name (2017.02.20)
*/



@import (reference) "../public";

.carNav {
    width: 100%;
    background: @color-fff;


    .carNav_demo {
        float: left;
        width: 25%;
        height: 1.067rem;
        border-right: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        box-sizing: border-box;

        a {
            display: inline-block;
            width: 100%;
            height: 1.067rem;
            text-align: center;
            line-height: 1.067rem;
            font-size: 15px;
            color: #666; 
        }
    }
    .disabled_li {
        a {
            color: #999;
        }
    }
    .no_r {
        border-right: none;
    }
    .carNav_active {
        a {
            color: @color-main-blue;
        }
    }
}
[data-dpr="2"]  .carNav{
    a {
        font-size: 30px;
    }
}
[data-dpr="3"]  .carNav{
    a {
        font-size: 45px;
    }
}