/*****
 *@author: jianingning
 *@from: Global style mod_selectCity 城市选择模块（经销商）
 *@description:
 *@date: name (2017.02.21)
*/


@import (reference) "../public";

/*右侧省份层*/
.right_module_province{
    width: 76.667%;
    height: 100%;
    background-color: @color-fff;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    &::-webkit-scrollbar{
        width: 0;
    }
    .province_scroll_module{
        dl{
            dt{
                font-size: 14px;
                color: @city-scroll-title-color;
                line-height: .667rem /* 50/75 */;
                background-color: @bg-bar;
                padding: 0 .4rem /* 30/75 */;
            }
            dd{
                font-size: 16px;
                line-height: 1.173rem /* 88/75 */;
                padding-right: .4rem /* 30/75 */;
                margin-left: .4rem /* 30/75 */;
            }
            .no_get {
                color: #ff3131;
                display: none;
            }
        }
        .zxs_province{
            span{
                margin-right: .787rem /* 59/75 */;
            }
        }
        .other_province{
            dd{
                border-bottom: 1px solid @list-border;
                i{
                    .icon_bg( url("../img/rightjt.png"), .16rem /* 12/75 */, .293rem /* 22/75 */);
                    margin-top: .44rem /* 33/75 */;
                    float: right;
                }
            }
        }
    }
}
/*右侧市层*/
.right_module_city{
    width: 73.867%;
    height: 100%;
    background-color: @color-fff;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1000;
    &::-webkit-scrollbar{
        width: 0;
    }
    ul{
        li{
            font-size: 16px;
            line-height: 1.173rem /* 88/75 */;
            padding-right: .4rem /* 30/75 */;
            margin-left: .4rem /* 30/75 */;
            border-bottom: 1px solid @list-border;
            a{
                display: block;
            }
        }
        .checked_province{
            background-color: @bg-bar;
            padding-left: .4rem /* 30/75 */;
            margin: 0;
            i{
                .icon_bg( url("../img/leftjt.png"), .213rem /* 16/75 */, .4rem /* 30/75 */);
                vertical-align: -.04rem /* 3/75 */;
                margin-right: .133rem /* 10/75 */;
                display: inline-block;
            }
        }
    }
}

[data-dpr="2"] .right_module_province {
    .province_scroll_module {
        dl {
            dt{
                font-size: 28px;
            }
            dd {
                font-size: 32px;
            }
        }
    }
}
[data-dpr="2"] .right_module_city {
    ul {
        li {
            font-size: 32px;
        }
    }
}
[data-dpr="3"] .right_module_province {
    .province_scroll_module {
        dl {
            dt{
                font-size: 42px;
            }
            dd {
                font-size: 48px;
            }
        }
    }
}
[data-dpr="3"] .right_module_city {
    ul {
        li {
            font-size: 48px;
        }
    }
}