.share_box{
            margin-top: 0.533rem;
            div{
                width: 25%;
                text-align: center;
                font-size: 11px;
                color: #666;
                a{
                    display: block;
                }
                img{
                    width: 1.067rem;
                    height: 1.067rem;
                }
                p{
                    margin-top: 0.16rem;
                }
            }
        }
[data-dpr="2"] body{
            .share_box{
                div{
                    a{
                        font-size: 24px;
                    }
                }
            }
}
[data-dpr="3"] body{
    .share_box{
                div{
                    a{
                        font-size: 24px;
                    }
                }
            }
}