@import (reference) "public";

.img_wrap{
    // 图片首页
    width:10rem;
    margin:0 auto;
    height:100%;
    .nav_wrap {
        height: 2.053333rem;
        width: 0rem;
        border-right: 10rem solid #26a1fe;
        // border-top: 0px solid transparent;
        border-bottom: 0.6rem solid transparent;
        position: relative;
        h2{
            width:4.6rem;
            position: absolute;
            top:0.72rem;
            margin-left: 0.4rem;
            text-indent: 0.426667rem;
            font-size: 24px;
            color:#fff;
            line-height: 32px
        }
    }
    img{
        // border:0.106667rem solid #fff;
        position: absolute;
        top:0.693333rem;
        left:0.693333rem;
    }
    .img_guise{
        position: relative;
        margin-left: 2.333333rem;
        width:5.493333rem;
        height:3.653333rem;
        margin-top: 1.573333rem;
        img{
            width:5.226667rem;
            height:3.386667rem;
        }
        span{
           height:0.493333rem;
           padding:0 0.373333rem;
           position: absolute;
           top:0.2rem;
           right:-0.693333rem;
           border-radius: 0.24rem;
           color:#fff;
           text-align: center;
           line-height: 0.493333rem;
           border:2px solid #fff;
           background: -webkit-linear-gradient(left, #23adfe , #3072ff); /* Safari 5.1 - 6.0 */
           background: -o-linear-gradient(right, #23adfe , #3072ff); /* Opera 11.1 - 12.0 */
           background: -moz-linear-gradient(right, #23adfe , #3072ff); /* Firefox 3.6 - 15 */
           background: linear-gradient(to right, #23adfe , #3072ff); /* 标准的语法 */
        }
    }
    .img_bgwrap{

        width:7.693333rem;
        height:5.48rem;
        margin: 0 auto;
        background:url(../img/pic_bg.png) no-repeat;
        background-size:cover;
        position: relative;
        img{
            width:6.333333rem;
            height:4.133333rem;
        }
        span{
           height:0.493333rem;
           padding:0 0.373333rem;
           position: absolute;
           top:0.533333rem;
           right:0.533333rem;
           border-radius: 0.24rem;
           color:#fff;
           text-align: center;
           line-height: 0.493333rem;
           border:2px solid #fff;
           background: -webkit-linear-gradient(left, #23adfe , #3072ff); /* Safari 5.1 - 6.0 */
           background: -o-linear-gradient(right, #23adfe , #3072ff); /* Opera 11.1 - 12.0 */
           background: -moz-linear-gradient(right, #23adfe , #3072ff); /* Firefox 3.6 - 15 */
           background: linear-gradient(to right, #23adfe , #3072ff); /* 标准的语法 */
        }
    }

    .img_guisepos{
        position: absolute;
        left:50%;
        top: 50%;
        transform: translate(-50%,-45%);
        -webkit-transform: translate(-50%,-45%);
        &.carimg1{}
        &.carimg2{}
        &.carimg3{
            height: 11rem;
            .list{
                float:left;
                &:nth-of-type(1){
                    width: 9rem;
                    .wg_strong{
                        position:relative;
                        top:-0.4rem;
                    }
                }
                &:nth-of-type(2),&:nth-of-type(3){
                    transform:scale(0.55,0.55);
                    -webkit-transform:scale(0.55,0.55);
                    -moz-transform:scale(0.55,0.55);
                    -o-transform:scale(0.55,0.55);
                    transform-origin: 0px 50%;
                    -webkit-transform-origin: 0px 50%;
                    position: absolute;
                    left:0;
                    bottom:0;
                    margin-top: 2.933333rem;
                    .wg_strong{
                        -webkit-transform:scale(2,2);
                    }
                    span{
                        -webkit-transform:scale(1.8,1.8);
                    }
                }
                &:nth-of-type(3){
                    left:50%;
                }

            }
        }

    }
    .wg_strong{
        text-align: center;
        font-size: 15px;
        line-height: 34px;
    }

    .img_guise_i{
        position: relative;
        width:3.733333rem;
        height:2.64rem;
        margin-left: 0.653333rem;
        img{
            width:3.466667rem;
            height:2.373333rem;
        }
        span{
           height:0.373333rem;
           padding:0 0.2rem;
           position: absolute;
           top:0.133333rem;
           right:-0.213333rem;
           border-radius: 0.186667rem;
           color:#fff;
           text-align: center;
           line-height: 0.373333rem;
           border:2px solid #fff;
           background: -webkit-linear-gradient(left, #23adfe , #3072ff); /* Safari 5.1 - 6.0 */
           background: -o-linear-gradient(right, #23adfe , #3072ff); /* Opera 11.1 - 12.0 */
           background: -moz-linear-gradient(right, #23adfe , #3072ff); /* Firefox 3.6 - 15 */
           background: linear-gradient(to right, #23adfe , #3072ff); /* 标准的语法 */
        }
    }
    .img_list{
        padding:0 0.4rem;
        margin:1.333333rem auto 0;
        li{
            float: left;
            width:4.6rem;
            img{
                width:3.466667rem;
                height:2.373333rem;
            }
        }
    }
    .arow{
        width:0.826667rem;
        height:0.453333rem;
        background:url(../img/arow.png) no-repeat;
        display: block;
        background-size: cover;
        position: absolute;
        bottom:0.586667rem;
        left:4.56rem;
    }
}

[data-dpr="2"] .img_wrap {
    .nav_wrap{
        h2{
            font-size: 48px;
            line-height: 64px;
        }
    }
    .wg_strong{
        font-size: 30px;
    }
    .enquire{
        font-size: 30px;
    }
}
[data-dpr="3"] .img_wrap {
    .nav_wrap{
        h2{
            font-size: 72px;
            line-height: 96px;
        }
    }
    .wg_strong{
        font-size: 45px;
        line-height: 102px;
    }
    .enquire{
        font-size: 45px;
    }
}
// 大图模式页
.large_img{
    vertical-align:middle;
    text-align:center;
    width:100%;
    height:100%;
    background:#151515;
    overflow: hidden;
    img{
        width:auto;
        height:auto;
        width:100%;
        max-height:100%;
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
        position:absolute;
        left:50%;
        top:45%;
    }
    .name{
        position: absolute;
        left:0;
        top: 1%;
        color:#fff;
        line-height: 24px;
        width: 100%;
        text-align: center;
        z-index: 2;
        .p1{
            color:#e0e0e0;
        }
    }
    .info{
        position: absolute;
        bottom: 0.266667rem;
        left:0.24rem;
        z-index: 2;
        .enquiry_a{
            width:9.48rem;
            height:1.066667rem;
            background:#2896fe;
            display: block;
            line-height: 1.066667rem;
            text-align: center;
            color:#fff;
            font-size: 16px;
            border-radius: 0.106667rem;
        }
        strong{
            width:100%;
            height:1.066667rem;
            display: block;
            line-height: 1.066667rem;
            text-align: center;
            color:#eee;
            font-size: 18px;
            position: absolute;
            bottom: 1.653333rem;
            left:0;
        }

    }
    .morepic{
            color:#eee;
            width:100%;
            height:1.066667rem;
            display: block;
            line-height: 1.066667rem;
            text-align: center;
            position: absolute;
            top: 50%;
            left:0;
            margin-top: 3rem;
            z-index: 2;
        }
}
[data-dpr="2"] .large_img {
    font-size: 30px;
    p{
        line-height: 48px;
    }
    .enquiry_a{
        font-size: 32px;
    }
    strong{
        font-size: 36px;
    }
}
[data-dpr="3"] .large_img {
    font-size: 45px;
    p{
        line-height: 72px;
    }
    .enquiry_a{
        font-size: 48px;
    }
    strong{
        font-size: 54px;
    }
}
.img_listwrap{
    background: #fff;
    width:10rem;
    margin:0 auto;
    .fix_nav{
        position: fixed;
        top:0;
        left:50%;
        margin-left: -5rem;
    }
    .img_listhead{
        width:10rem;
        height:2.213333rem;
        background:#25a5fe;
        h2{
            line-height: 2.213333rem;
            color:#fff;
            font-size: 24px;
            margin-left: 0.853333rem;
        }
        .nav_list{
            margin-right: 0.266667rem;
            li{
                float:left;
                width:1.093333rem;
                padding-top: 0.48rem;

                span{
                    width:0.826667rem;
                    height:0.826667rem;
                    display: block;

                    margin-left: 0.133333rem;
                    &.s1{
                        background:url(../img/carType.png) no-repeat;
                        background-size: cover;
                    }
                    &.s2{
                        background:url(../img/carColor.png) no-repeat;
                        background-size: cover;
                    }
                    &.s3{
                        background:url(../img/daohang.png) no-repeat;
                        background-size: cover;
                    }
                    &.s4{
                        background:url(../img/up.png) no-repeat;
                        background-size: cover;
                    }
                }
                &:active{
                    strong{
                        color:#fff193;
                    }
                    span{
                        &.s1{
                            background:url(../img/carType_active.png) no-repeat;
                            background-size: cover;
                        }
                        &.s2{
                            background:url(../img/carColor_active.png) no-repeat;
                            background-size: cover;
                        }
                        &.s3{
                            background:url(../img/daohang_active.png) no-repeat;
                            background-size: cover;
                        }
                    }
                }
                strong{
                    width:1.093333rem;
                    display: block;
                    text-align: center;
                    font-size: 12px;
                    line-height: 24px;
                    color:#fff;
                }
            }
        }
    }
    .nav_ul{
        position: fixed;
        top:2.213333rem;
        left:0;
        width:100%;
        padding:0 0.26rem;
        border-bottom: 1px solid #f3f3f3;
        background: #fff;
        text-align: center;
        display: flex;
        li{
            width: 3.04rem;
            margin-left: 0.18rem;
            text-align: center;
            font-size: 14px;
            line-height: 40px;
            position: relative;
            color:#848484;
            span{
                width:100%;
                height:0.08rem;
                background:#2896fe;
                display: none;
                position: absolute;
                bottom:-1px;
                left:0;
            }
            &:first-child{
                margin-left:0
            }
            &.active{
                color:#333;
                span{
                    display: block;
                }
            }
        }
    }
    .img_listul{
        padding:3.5rem 0.26rem 0.26rem;
        li{
            float:left;
            margin-right: 0.18rem;
            margin-bottom: 0.18rem;
            img{
                width:3.04rem;
                height:2.053333rem;
            }
            &:nth-of-type(3n){
                margin-right: 0;
            }
        }
        &.notab{
            padding-top: 2.6rem
        }
    }
}
[data-dpr="2"] .img_listwrap {
    .img_listhead{
        h2{
            font-size: 48px;
        }
        .nav_list{
            li{
                strong{
                    font-size: 24px;
                    line-height: 48px;
                }
            }
        }
    }
    .nav_ul{
        li{
            font-size: 28px;
            line-height: 80px;
        }
    }
}
[data-dpr="3"] .img_listwrap {
    .img_listhead{
        h2{
            font-size: 72px;
        }
        .nav_list{
            li{
                strong{
                    font-size: 36px;
                    line-height: 72px;
                }
            }
        }
    }
    .nav_ul{
        li{
            font-size: 42px;
            line-height: 120px;
        }
    }
}
.filter_car,.filter_color{
    position: fixed;
    top:0;
    right:-100%;
    width:7.653333rem;
    background:#fff;
    border-left: 1px solid #d2d2d2;
    height: 100%;
    overflow: scroll;
    z-index: 1000;
    h5{
        background: #f3f3f3;
        font-size: 13px;
        line-height: 28px;
        padding: 0 0.4rem;
    }
    strong{
        display: block;
        margin-left: 0.4rem;
        border-radius: 0.106667rem;
        text-align: center;
        width:6.826667rem;

        &.allcar{
            border:1px solid #2799fe;
            font-size: 15px;
            height:34px;
            line-height: 34px;
            margin-top: 0.266667rem;
            margin-bottom: 0.26rem;
            &:active{
                color: #2799fe;
            }
        }
        &.year{
            font-size: 18px;
            height:45px;
            line-height: 45px;
        }
    }
    .filter_ul{
        padding: 0 0.4rem;
        li{
            font-size: 15px;
            line-height: 50px;
            border-bottom: 1px solid #f3f3f3;
            position: relative;
            &:last-child{
                border-bottom: 0
            }
            &.active{
                strong{
                    width:0.48rem;
                    height:0.48rem;
                    background: url(../img/choose.png) no-repeat;
                    display: inline-block;
                    background-size: cover;
                    position: absolute;
                    right:0.4rem;
                    top:0.426667rem;
                }
            }
            span{
                width:0.48rem;
                height:0.48rem;
                display: inline-block;
                border-radius: 50%;
                vertical-align: middle;
                border:1px solid #e7e7e7;
                position: relative;
                top:-2px;
                margin-right: 0.293333rem;
                &.hyb{
                    background:#fff;
                }
                &.sjy{
                    background:#dfdfdf;
                }
                &.bsl{
                    background:#0a48d5;
                }
                &.smyc{
                    background:#ff8610;
                }
                &.hb{
                    background: url(../img/hb.png) no-repeat;
                    background-size: cover;
                }
                &.h{
                    background: #000;
                }
                &.b{
                    background:#fff;
                }
            }
        }
    }
}

.filter_car .drawer,.filter_color .drawer{
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: .107rem;
    height: 2.133rem;
}

.filter_car .filter_ul li{
    padding-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-dpr="2"] .filter_car,[data-dpr="2"] .filter_color{
    h5{
        font-size: 26px;
        line-height: 56px;
    }
    strong{
        &.allcar{
            font-size: 30px;
            height:68px;
            line-height: 68px;
        }
        &.year{
            font-size: 36px;
            height:90px;
            line-height: 90px;
        }
    }
    .filter_ul{
        li{
            font-size: 30px;
            line-height: 100px;
        }
    }
}

[data-dpr="3"] .filter_car,[data-dpr="3"] .filter_color{
    h5{
        font-size: 39px;
        line-height: 84px;
    }
    strong{
        &.allcar{
            font-size: 45px;
            height:102px;
            line-height: 102px;
            border-radius: 0.106667rem;
        }
        &.year{
            font-size: 42px;
            height:90px;
            line-height: 90px;
        }
    }
    .filter_ul{
        li{
            font-size: 45px;
            line-height: 150px;
        }
    }
}
