/*****
 *@author: jianingning
 *@from: Global style promotionModels
 *@description: 
 *@date: name (2017.02.07)
*/




        .pro_title {
            font-size: 0.48rem;
            color: #222;
            margin: 0.3rem;
            line-height: 0.62rem;
        }
        .pro_text {
            font-size: 0.3rem;
            color: #333;
            line-height: 0.54rem;
            margin: 0.18rem 0.3rem 0.4rem 0.3rem;
        }
        .mod_list {
            border-top: 1px solid #f3f3f3;
            margin-left: 0.3rem;
            position: relative;

            .car_typeBox {
                float: left;
                width: 7rem;

                .car_type {
                    margin: 0.3rem 0;
                    font-size: 0.4rem;
                    color: #333;
                    .car_typing {
                        margin-right: none;
                    }
                }
                .car_price {
                    color: #999;
                    margin-bottom: 0.18rem;

                    .ruling_price {
                        font-size: 0.4rem;
                        color: #ff2727;
                        margin-right: 0.15rem;
                    }
                    .original_price {
                        margin-right: 0.16rem;
                        text-decoration: line-through;
                    }
                    .depreciate {
                        margin-right: 0.17rem;
                        img {
                            width: 0.23rem;
                            height: 0.23rem;
                            margin: -2px 0.03rem 0 0 ;
                            vertical-align: middle;
                        }
                    }
                    .abundant {
                        display: inline-block;
                        padding: 0 .1rem;
                        border: 1px solid #999;
                    }
                }
                .addition {
                    color: #999;
                    margin-bottom: 0.3rem;
                    border-radius: 2px;
                }
            }
            .car_btnBox {
                position: absolute;
                top: 50%;
                margin-top: -0.51rem;
                right: .3rem;

                .car_price_btn {
                    display: inline-block;
                    border: 1px solid #2896fe;
                    font-size: 0.4rem;
                    color: #2896fe;
                    text-align: center;
                    line-height: 0.48rem;
                    padding: .1rem .2rem;
                    border-radius: 2px;
                }
            }
        }

 .btn_wrap {
        position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 1.6rem;
    background: #fff;
    -webkit-box-shadow: 0 -5px 20px 5px #ededed;
    -moz-box-shadow: 0 -5px 20px 5px #ededed;
    box-shadow: 0 -5px 20px 5px #ededed;
        
        .button {
                display: inline-block;
                width: 95%;
                height: 1.067rem;
                background: #2896fe;
                font-size: 16px;
                color: #ffffff;
                border-radius: 8px;
                position: fixed;
                left: 0.267rem;
                bottom: 0.267rem;
                text-align: center;
                line-height: 1.067rem;
                border: none;
        }
 }

 [data-dpr="2"] .btn_wrap .button{
  font-size: 32px;
}
 [data-dpr="3"] .btn_wrap .button{
  font-size: 48px;
}