/*****
 *@author: jianingning
 *@from: Global style selectCity
 *@description: 
 *@date: name (2017.02.13)
*/



@import (reference) "public";

.city_selector {
    position: fixed;
    left:0;
    top:0;
    z-index: 999;
    width: 100%;
    height: 100%;
    
    .content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding-top: 1.333rem;
        background: #fff;

        .select {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 1.333rem;
            line-height: 1.333rem; 
            background:-webkit-linear-gradient(to right bottom, #24aafe, #2896fe); 
            background:linear-gradient(to right bottom,#24aafe,#2896fe);

            h3 {
                float: left;
                margin-left: 0.37rem;
               font-size: 18px;
               color: @color-fff; 
            }
            .close {
                float: right;
                margin: 0.427rem 0.4rem 0 0;
                display: inline-block;
                width: 0.48rem;
                height: 0.48rem;
                background: url(../img/close.png);
                background-size: cover;
            }
        }
        .sign_text {
            height: 0.857rem;
            font-size: 13px;
            color: #6a6a6a;
            padding-left: 0.373rem;
            line-height: 0.857rem;
             background-color: #f3f3f3;
        }
        .city {

            li{
                height: 1.497rem;
                background: @color-fff;
                font-size: 15px;
                padding-left: 0.373rem;
                line-height: 1.397rem;
                border-bottom: 1px solid #f3f3f3;

                span {
                    margin-right: 0.8rem;
                }
                .current {
                    color: #2896fe;
                }
            }
        }
        .c_sign_text {
            height: 0.807rem;
            font-size: 13px;
            color: #6a6a6a;
            padding-left: 0.373rem;
            line-height: 0.807rem;
             background-color: #f3f3f3;
        } 
        .letter {
            height: 0.667rem;
            font-size: 14px;
            color: #6a6a6a;
            padding-left: 0.373rem;
            line-height: 0.667rem;
            background-color: #f3f3f3;
        } 
    }
}

/*城市抽屉*/
.slider_btn {
    position: fixed;
    top: 50%;
    left: 1.093rem;
    margin-top: -0.32rem;
    z-index: 5;
    width: 0.693rem;
    height: 0.64rem;
}
.cityDrawer {
    width: 7.667rem;
    height: 100%;
    position: fixed;
    top: 1.333rem;
    right: -80%; 
    transition: right .5s;
    z-index: 100;
    border-left: 1px solid #d2d2d2;
    background: @color-fff;
    -moz-box-shadow: -10px 0 10px #6e6e6e;
 -webkit-box-shadow: -10px 0 10px #6e6e6e;
         box-shadow: -10px 0 10px #6e6e6e;
         

    .cityBox {
        width: 7.667rem;
        height: 100%;
        overflow-y: scroll;
        background: @color-fff;
        //display: none;

        .citys {
            padding-bottom: 1.333rem;
            li {
                padding-left: 0.4rem;
                height: 1.484rem;
                border-bottom: 1px solid #f3f3f3;
                line-height: 1.484rem;
                font-size: 15px; 
            }
            .select span{
                float: right;
                margin: 0.387rem 0.373rem 0 0;
                display: inline-block;
                width: 0.533rem;
                height: 0.533rem;
                background: url(../img/select.png);
                background-size: cover;
            }
        }
    }    
    .drawer {
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -2.41rem;
            z-index: 5;
            width: 0.093rem;
            height: 2.16rem;
        }
}
.cityDrawer.show{   
    right: 0;
}
[data-dpr="2"] .city_selector{
    .content {
        h3 {
            font-size: 36px;
        }
        .sign_text {
            font-size: 26px;
        }
        .city {
            li {
                font-size: 30px;
            }
        }
        .c_sign_text {
            font-size: 26px;
        }
        .letter {
            font-size: 28px;
        }
    }
}
[data-dpr="2"] .cityBox{
    .citys {
        li {
            font-size: 30px;
        }
    }
}
[data-dpr="3"] .city_selector{
    .content {
        h3 {
            font-size: 54px;
        }
        .sign_text {
            font-size: 39px;
        }
        .city {
            li {
                font-size: 45px;
            }
        }
        .c_sign_text {
            font-size: 39px;
        }
        .letter {
            font-size: 42px;
        }
    }
}
[data-dpr="3"] .cityBox{
    .citys {
        li {
            font-size: 45px;
        }
    }
}
