/****
 *@author: jianingning
 *@from: Global style articleNews
 *@description: 
 *@date: name (2017.02.08)
*/

.fl{
    float: left;
}
.fr{
    float: right;
}
body {
    overflow-x: hidden;
}
.wrap {
    width: 100%;
    background: #f3f3f3;
    padding-bottom: 1.3rem;

    .iframe_content {
        .content {
            padding-top: 0.24rem;
            background: #fff;

            .pro_title {
                margin: 0 0.3rem;
                font-size: 0.48rem;
                color: #222;
                line-height: 0.62rem;
                text-indent: 0;
            }
            .article_edit {
                margin-top: 0.2rem;
                margin-left: 0.3rem;
                font-size: 0.22rem;
                color: #c1c1c1;
                text-indent: 0;
                span {
                    margin-right: 0.16rem;
                }
            }
            .pto_text {
                padding-left: 0.3rem;
                padding-right: 0.3rem;
                p {
                   text-indent: 0; 
                   font-size: 0.3rem;
                   line-height: 0.54rem;
                }
                img {
                   display: block;
                   width: 6.9rem;
                   box-sizing: border-box;
                   margin-top: 0.5rem;
                }
                table {
                    margin: 0.3rem 0;
                    tr {
                        border-bottom: 1px solid #eee;
                    }
                }
                h1,h2,h3,h4,h5,h6 {
                    font-size: 0.4rem;
                    color:#333;
                    font-weight: 700;
                    margin-top: 0.3rem;
                }
            }
            /***share*/
            .share {
                margin-top: 0.79rem;

                h4 {
                    margin-left: 0.3rem;
                    font-size: 0.28rem;
                    color: #333;
                    font-weight: 100;

                    img {
                        float: left;
                        margin: 0.08rem 0.13rem 0 0;
                        width: 0.06rem;     
                    }
                }
                .share_type {
                    padding: 0.4rem 0;
                    width: 100%;
                    font-size: 0;

                    li {
                        float: left;
                        width: 20%;
                        text-align: center;
                        .wx,
                        .py,
                        .qq,
                        .wb,
                        .kj {
                            display: block;
                            margin:0 auto 0.14rem auto;
                            width: 0.88rem;
                            height: 0.88rem;
                        }
                        .wx {
                            background: url(../img/btn_wechat_nor.png);
                            background-size: cover;
                        }
                        .py {
                            background: url(../img/btn_pyq_nor.png);
                            background-size: cover;
                        }
                        .qq {
                            background: url(../img/btn_qq_nor.png);
                            background-size: cover;
                        }
                        .wb {
                            background: url(../img/btn_weibo_nor.png);
                            background-size: cover;
                        }
                        .kj {
                            background: url(../img/btn_kongjian_nor.png);
                            background-size: cover;
                        }
                        a:active {
                            -webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
                               -moz-tap-highlight-color:rgba(0, 0, 0, 0);  
                                -ms-tap-highlight-color:rgba(0, 0, 0, 0);  
                                 -o-tap-highlight-color:rgba(0, 0, 0, 0);  
                                    tap-highlight-color:rgba(0, 0, 0, 0); 
                            .wx{
                                background: url(../img/btn_wechat_press.png);
                                background-size: cover;
                            }
                            .py {
                                background: url(../img/btn_pyq_press.png);
                                background-size: cover;
                            }
                            .qq {
                                background: url(../img/btn_qq_press.png);
                                background-size: cover;
                            }
                            .wb {
                                background: url(../img/btn_weibo_press.png);
                                background-size: cover;
                            }
                            .kj {
                                background: url(../img/btn_kongjian_press.png);
                                background-size: cover;
                            }
                        }
                        .share_text {
                            color: #666;
                            font-size: 0.22rem;
                        }
                    }
                }
            }
        }
    }
    /***related*/
    .relatedCar {
        margin-top: 0.2rem;
        background: #fff;
        padding: 0.27rem 0 0.3rem 0;

        h4 {
            font-size: 0.28rem;
            color: #333;
            margin: 0 0 0.25rem 0.3rem;
            font-weight: 100;

            img {
                float: left;
                width: 0.06rem;
                margin: 0.08rem 0.13rem 0 0; 
            }
        }
        .related {
            width: 100%;
            margin-bottom: 0.3rem;

            dt {
                float: left;
                margin: 0 0.3rem;
                width: 1.76rem;
                height: 1.2rem;
                img {
                    display: inline-block;
                    width: 1.76rem;
                    height: 1.2rem;    
                }
            }
            .car_name {
                color: #333;
                font-size: 0.28rem;
                line-height: 0.6rem;
            }
            .car_price {
                color: #ff3131;
                font-size: 0.28rem;
                line-height: 0.6rem;
            }
        }
        .last {
            margin-bottom: 0;
        }
    }
    /***comment*/
    .comment {
        margin-top: 0.2rem;
        background: #fff;
        padding: 0.27rem 0 0rem 0;

        h4 {
            font-size: 0.28rem;
            color: #333;
            margin: 0 0 0.25rem 0.3rem;
            font-weight: 100;

            img {
                float: left;
                width: 0.06rem;
                margin: 0.08rem 0.13rem 0 0; 
            }
        }
        .comment_list {
            font-size: 0;
            padding: 0.24rem 0 0.17rem 0;

            dt {
                width: 0.72rem;
                height: 0.72rem;
                float: left;
                margin-left: 0.3rem;

                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
            dd {
                width: 5.99rem;
                float: right;
                margin-right: 0.3rem; 
            }
            .name {
                color: #848484;
                font-size: 0.28rem;
            }
            .text {
                color: #333;
                font-size: 0.3rem;
                line-height: 0.43rem;
                margin-top: 0.16rem;
                word-break:break-all;
            }
            .publish {
                background: #f3f3f3;
                height: auto;
                font-size: 0.24rem;
                color: #6a6a6a;
                margin-top: 0.28rem;
                padding:0.16rem 0 0.2rem 0.25rem; 
                line-height: 0.43rem;
                width: 5.74rem;
                word-break:break-all;
            }
            .sign {
                border-bottom: 1px solid #f3f3f3;
                padding-bottom: 0.29rem;
                margin-top: 0.33rem;
                .time {
                    color: #cacaca;
                    font-size: 0.24rem;
                }
                .reply_btn {
                    display: inline-block;
                    width: 0.44rem;
                    height: 0.44rem;
                    background: url(../img/btn_message_nor.png);
                    background-size: cover;
                    float: right;
                }
                .reply_btn:active {
                    background: url(../img/btn_message_press.png);
                    background-size: cover;
                }
            }
        }
        .comment_last .sign {
            border-bottom: none;
        }
        .mode_comment {
            width: 100%;
            display: inline-block;
            text-align: center;
            color: #666;
            font-size: 0.28rem;
        }
    }
    .advertisement{
        margin-top: 0.2rem;
        padding-bottom: 0.2rem;
        background-color: #fff;
        h3{
            font-size: 0.28rem;
            text-align: center;
            margin-bottom: 0.1rem;
            span{
                font-weight: 500;
                color: #cacaca;
                clear: both;
            }
            b{
                border-top:1px solid #f3f3f3;
                padding: 0 1.5rem;
                margin-top: 0.2rem;
            }
            .fl{
                margin-left: 0.3rem;
            }
            .fr{
                margin-right: 0.3rem;
            }
        }
        div{
            width: 6.9rem;
            margin: 0 auto;
            height: 2rem;
            background-color: #f3f3f3;

            img {
                display: block;
                width: 6.9rem;
                height: 2rem;
                box-sizing: border-box;
            }
        }
    }
    .btn_wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 1.2rem;
        line-height: 1.2rem;
        background: #fff;
        -webkit-box-shadow:5px -5px 4px #ededed;
           -moz-box-shadow:0px -5px 4px #ededed;                     
                box-shadow:0px -5px 4px #ededed;
        
        .comment_input {
            -webkit-appearance: none;
            display: inline-block;
            float: left;
            margin:0.27rem 0 0 0.3rem;
            width: 5.30rem;
            height: 0.62rem;
            line-height: 0.62rem;
            border: 1px solid #e7e7e7;
            background: #fafafa;
            padding-left: 0.2rem;
            border-radius: 3px;
            font-size: 0.28rem;
            color: #999;
        }
        .all_comment {
            float: right;
            margin-right: 0.3rem;
            color: #2896fe;
            font-size: 0.28rem;
        }
    }
}
/**
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    filter: alpha(opacity=70);
}**/
/***share_popup*/
/**
.share_popup {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 5rem;
    background: #fff;
    display: none;

    .share_title {
        height: 0.8rem;
        line-height: 0.8rem;
        border-bottom: 1px solid #f3f3f3;
        text-align: center;
        font-size: 0.3rem;
        color: #2896fe; 
    }
    .share_type {
        padding-top: 0.2rem;
        width: 100%;
        height: 3.17rem;
        font-size: 0;

        li {
            float: left;
            width: 20%;
            text-align: center;
            .wx,
            .py,
            .qq,
            .wb,
            .kj,
            .llq {
                display: block;
                margin:0 auto 0.14rem auto;
                width: 0.88rem;
                height: 0.88rem;
            }
            .wx {
                background: url(../img/btn_wechat_nor.png);
                background-size: cover;
            }
            .py {
                background: url(../img/btn_pyq_nor.png);
                background-size: cover;
            }
            .qq {
                background: url(../img/btn_qq_nor.png);
                background-size: cover;
            }
            .wb {
                background: url(../img/btn_weibo_nor.png);
                background-size: cover;
            }
            .kj {
                background: url(../img/btn_kongjian_nor.png);
                background-size: cover;
            }
            .llq {
                background: url(../img/btn_liulanqi_nor.png);
                background-size: cover;
            }
            a:active {
                -webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
                   -moz-tap-highlight-color:rgba(0, 0, 0, 0);  
                    -ms-tap-highlight-color:rgba(0, 0, 0, 0);  
                     -o-tap-highlight-color:rgba(0, 0, 0, 0);  
                        tap-highlight-color:rgba(0, 0, 0, 0); 
                .wx{
                    background: url(../img/btn_wechat_press.png);
                    background-size: cover;
                }
                .py {
                    background: url(../img/btn_pyq_press.png);
                    background-size: cover;
                }
                .qq {
                    background: url(../img/btn_qq_press.png);
                    background-size: cover;
                }
                .wb {
                    background: url(../img/btn_weibo_press.png);
                    background-size: cover;
                }
                .kj {
                    background: url(../img/btn_kongjian_press.png);
                    background-size: cover;
                }
                .llq {
                    background: url(../img/btn_liulanqi_press.png);
                    background-size: cover;
                }
            }
            .share_text {
                color: #666;
                font-size: 0.22rem;
            }
        }
        .llq_li {
            margin-top: 0.3rem;
        }
    }
    .share_cancel {
        height: 0.8rem;
        line-height: 0.8rem;
        border-top: 1px solid #f3f3f3;
        text-align: center;
        font-size: 0.3rem;
        color: #6a6a6a;
    }
}**/
/***reply_form*/

/**.reply_form {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 4.03rem;
    background: #fdfdfd;
    font-size: 0;
    border-bottom: 2px solid #bdc2ca;

    .reply_button {
        padding: 0 0.3rem;
        height: 0.8rem;
        border-bottom: 1px solid #f3f3f3;
        background: #fff; 
        
        .cancel,
        .issue {
            font-size: 0.28rem;
            border: none;
            background: none;
        } 
        .cancel {
            color: #848484; 
            margin-top: 0.27rem;
        } 
        .issue {
            float: right;
            margin-top: 0.27rem;
            color: #b4b4b4;
        } 
    }
    .replyText {
        height: 1.31rem;
        padding: 0.3rem;
        width: 92%;
        font-size: 0.28rem;
        color: #333;
        resize: none;
    }
    .limit {
        height: 0.76rem;
        border-bottom: 1px solid #bdc2c8;
        background: #fff;
        font-size: 0.24rem;
        color: #b7b7b7;
        text-align: right;
        padding-right: 0.3rem;
        letter-spacing: -spacing: 0.02rem;
    }
}
*/