/*****
 *@author: jianingning
 *@from: Global style eventsOffers
 *@description: 
 *@date: name (2017.02.08)
*/



.wrap {
    width: 100%;

    .content {
        margin: 0.2rem 0 0 0.2rem;

        .list {
            font-size: 0;
            margin-bottom: 0.2rem;
            .img_box {
                display: block;
                width: 7.1rem;
                height: 3.02rem;

                img {
                    width: 100%;
                }
            }
            .list_title {
                border-bottom: 1px solid #f3f3f3;
                padding-bottom: 0.27rem;
                a {
                    float: left;
                    margin-top: 0.28rem; 
                    font-size: 0.32rem;
                    color: #333;
                }
                span {
                    float: right;
                    margin: 0.31rem 0.2rem 0 0;
                    font-size: 0.24rem;
                    color: #b7b7b7;
                }
            }
            .no_border {
                border-bottom: none;
            }
        }
    }
}