/*****
 *@author: jianingning
 *@from: Global style promotionModels
 *@description: 
 *@date: name (2017.02.07)
*/



.wrap {
    width: 100%;
    background: #f3f3f3;

    .content {
        width: 100%;
        padding: 0.24rem 0 0.55rem 0;
        background: #fff;

        .pro_title {
            font-size: 0.48rem;
            color: #222;
            margin: 0 0.3rem;
            line-height: 0.62rem;
        }
        .pto_text {
            font-size: 0.3rem;
            color: #333;
            line-height: 0.54rem;
            margin: 0.18rem 0.3rem 0.4rem 0.3rem;
        }
        .mod_list {
            border-top: 1px solid #f3f3f3;
            margin-left: 0.3rem;
            position: relative;

            .car_typeBox {
                float: left;
                width: 5.48rem;

                .car_type {
                    margin: 0.3rem 0;
                    font-size: 0.32rem;
                    color: #333;
                    span {
                        margin-right: 0.19rem;
                    }
                    .car_typing {
                        margin-right: none;
                    }
                }
                .car_price {
                    font-size: 0.26rem;
                    color: #999;
                    margin-bottom: 0.18rem;

                    .ruling_price {
                        font-size: 0.32rem;
                        color: #ff2727;
                        margin-right: 0.15rem;
                    }
                    .original_price {
                        margin-right: 0.16rem;
                        text-decoration: line-through;
                    }
                    .depreciate {
                        margin-right: 0.17rem;
                        img {
                            width: 0.23rem;
                            height: 0.23rem;
                            display: inline-block;
                            margin: -2px 0.03rem 0 0 ;
                        }
                    }
                    .abundant {
                        display: inline-block;
                        width: 1.2rem;
                        height: 0.36rem;
                        border: 1px solid #999;
                        text-align: center;
                        line-height: 0.36rem;
                    }
                }
                .addition {
                    font-size: 0.26rem;
                    color: #999;
                    margin-bottom: 0.3rem;
                    border-radius: 2px;
                }
            }
            .car_btnBox {
                width: 1.69rem;
                height: 1.02rem;
                border-left: 0.5px solid #f3f3f3;
                position: absolute;
                top: 50%;
                margin-top: -0.51rem;
                right: 0;

                .car_price_btn {
                    display: inline-block;
                    width: 1.08rem;
                    height: 0.48rem;
                    border: 1px solid #2896fe;
                    font-size: 0.26rem;
                    color: #2896fe;
                    text-align: center;
                    line-height: 0.48rem;
                    border-radius: 2px;
                    float: right;
                    margin: 0.3rem 0.3rem 0 0;
                }
            }
        }
    }
}