/*****
 *@author: jianingning
 *@from: Global style promotionNews
 *@description: 
 *@date: name (2017.02.06)
*/




.wrap {
    width: 100%;
    .iframe_content {
        .content {
            padding: 0.24rem 0 0.55rem 0;

            p {
                text-indent: 0;
                font-size: 0.3rem;
                margin: 0 0.3rem;
                line-height: 0.54rem;
            }
            img {
                display: block;
                width: 6.9rem;
                margin: 0.5rem 0.3rem 0 0;
                padding: 0;
            }

            .pro_title {
                font-size: 0.48rem;
                color: #222;
                margin: 0 0.3rem;
                line-height: 0.62rem;
            }
            .pto_text {
                font-size: 0.3rem;
                color: #333;
                line-height: 0.54rem;
                margin: 0.18rem 0.3rem 0 0.3rem;
            }
            .img_box {
                margin: 0.5rem 0.3rem;
                width: 6.9rem;

                img {
                    width: 100%;
                }
            }
        }
    }
}