/*****
 *@author: jianingning
 *@from: Global style carType_zongshu  车款综述
 *@description:
 *@date: name (2017.02.27)
*/



@import (reference) "public";
@import "mod/mod_pubHead.less";
@import "mod/mod_pubHeadNav.less";
@import "mod/mod_dealer.less";
@import "mod/mod_selectCity.less";
@import "mod/mod_footer.less";
@import "mod/mod_goTop.less";

.wrap {
    width: 100%;
    background: #f4f5f7;

    /*content*/
    .carType_tab {
        height: 1.2rem;
        line-height: 1.2rem;
        border-bottom: 1px solid #e2e2e2;
        background: #fff;

        li {
            float: left;
            width: 33.12%;
            text-align: center;
            border-right: 1px solid #e2e2e2;
            font-size: 15px;

            a {
                color: #666;
            }
            &:last-child {
                border-right: none;
            }
        }
        .carType_active  a{
            color: #2799fe; 
        }
    }
    .carType_list {
        padding-left: .4rem;
        padding-bottom: .1rem;
        background: #fff;
        li {
            height: 1.307rem;
            border-bottom: 1px solid #e2e2e2;

            .cal_type_tit {
                display: inline-block;
                width: 29%;
                height: 1.307rem;
                line-height: 1.307rem;
                font-size: 15px;
                float: left;
            }
            .cal_type_con {
                display: inline-block;
                margin-right: 2%;
                width: 63%;
                float: left;
                height: 1.307rem;
                line-height: 1.307rem;
                text-align: right;
                font-size: 15px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .cal_arrow_right {
                display: inline-block;
                width: .16rem;
                height: .293rem;
                background: url(../img/arrow_right_gray.png);
                background-size: cover;
                float: right;
                margin-right: 0.4rem;
                margin-top: 0.55rem;
            }
            .cal_type_price {
                display: inline-block;
                margin-right: 2%;
                width: 42%;
                height: 1.307rem;
                line-height: 1.307rem;
                vertical-align: 0.02rem;
                text-align: right;
                font-size: 15px;
                color: #ff3131;
            }
            .cal_type_xdj {
                display: inline-block;
                width: 2.4rem;
                height: .8rem;
                text-align: center;
                line-height: .8rem;
                font-size: 13px;
                color: #fff;
                background: #52adfe;
                border-radius: 4px;
                outline: none; 
            }
            .cal_type_firms,
            .cal_type_reference {
                display: block;
                font-size: 12px;
                color: #999;
            }
            .cal_type_firms {

            }
            .cal_type_reference {
                margin-top: .16rem;
            }
            .cal_type_jisuanqi {
                display: inline-block;
                float: right;
                margin-right: .4rem;
                margin-top: .1rem;
                width: 2.347rem;
                height: .747rem;
                text-align: center;
                line-height: .747rem;
                border: 1px solid #52adfe;
                font-size: 13px;
                color: #52adfe;
                border-radius: 4px;
            }

            &:last-child {
                padding: .2rem 0;
                height: .907rem;
                border-bottom: none;
            }
        }
    }
    .crumbs {
        margin-top: .4rem;
        padding: 0 .4rem;
        height: 1.067rem;
        line-height: 1.067rem;
        border-bottom: 1px solid  #ebedef;
        background: @color-fff;

        a {
           font-size: 14px;
           color: #666;

           &:last-child {
            color: #999;
           }
        }
        img {
            margin: .44rem .103rem 0 .103rem;
            display: inline-block;
            width: .12rem;
            height: .213rem;
        }
    }
}
/*半透明遮罩*/
.mask2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #000;
    filter:alpha(opacity=60);
    opacity:.6;
    display: none;
}
.slider_btn {
    position: fixed;
    top: 50%;
    left: 1.093rem;
    margin-top: -.32rem;
    z-index: 3;
    width: .693rem;
    height: .64rem;
    display: none;
}
/*右侧模块*/
.right_module{
    width: 76.667%;
    height: 100%;
    background-color: @color-fff;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    .car_msg_module{
        .current_msg{
            font-size: 16px;
            line-height: 1.333rem /* 100/75 */;
            padding-left: .4rem /* 30/75 */;
        }
        .sub_brand{
            color: @sub-brand-name;
            font-size: 13px;
            width:100%;
            line-height: .72rem /* 54/75 */;
            background-color: @news-bg;
            padding-left: .4rem /* 30/75 */;
        }
        .car_type_list{
            font-size: 15px;
            li{
                margin-left: .4rem /* 30/75 */;
                border-bottom: 1px solid @list-border;
                a{
                    display: block;
                    padding: .2rem /* 15/75 */ .4rem /* 30/75 */ .16rem /* 12/75 */ 0;
                    p{
                        line-height: .72rem /* 54/75 */;
                    }
                    .type_price{
                        color: @red-price;
                        i{
                            float: right;
                            font-size: 12px;
                            color: @time-color;
                        }
                    }
                }
            }
        }
        .car_color_list{
            font-size: 15px;
            li{
                margin-left: .4rem /* 30/75 */;
                border-bottom: 1px solid @list-border;
                a{
                    display: block;
                    line-height: 1.333rem /* 100/75 */;
                    i{
                        display: inline-block;
                        width: .347rem /* 26/75 */;
                        height: .347rem /* 26/75 */;
                        vertical-align: middle;
                        margin-right: .147rem /* 11/75 */;
                        border: 1px solid @border-color;
                    }
                }
            }
        }
    }
}
/*适配字号大小*/
[data-dpr="2"] .wrap {
    .carType_tab {
        li {
            font-size: 30px;
        }
    }
    .carType_list {
        li {
            .cal_type_tit,
            .cal_type_con,
            .cal_type_price {
                font-size: 30px;
            }
            .cal_type_xdj,
            .cal_type_jisuanqi {
                font-size: 26px;
            }
            .cal_type_firms,
            .cal_type_reference {
                font-size: 24px;
            }
        }
    }
    .crumbs {
        a {
            font-size: 28px;
        }
    }
}
[data-dpr="2"] .right_module{
    .current_msg{
        font-size: 32px;
    }
    .sub_brand{
        font-size: 26px;
    }
    .car_type_list{
        font-size: 30px;
        li{
            a{
                .type_price{
                    i{
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .car_color_list{
        font-size: 30px;
    }
}
[data-dpr="3"] .wrap {
    .carType_tab {
        li {
            font-size: 45px;
        }
    }
    .carType_list {
        li {
            .cal_type_tit,
            .cal_type_con,
            .cal_type_price {
                font-size: 45px;
            }
            .cal_type_xdj,
            .cal_type_jisuanqi {
                font-size: 39px;
            }
            .cal_type_firms,
            .cal_type_reference {
                font-size: 36px;
            }
        }
    }
    .crumbs {
        a {
            font-size: 42px;
        }
    }
}
[data-dpr="3"] .right_module{
    .current_msg{
        font-size: 48px;
    }
    .sub_brand{
        font-size: 39px;
    }
    .car_type_list{
        font-size: 45px;
        li{
            a{
                .type_price{
                    i{
                        font-size: 36px;
                    }
                }
            }
        }
    }
    .car_color_list{
        font-size: 45px;
    }
}






