/*****
 *@author: linyh
 *@from: Global style carType_config(车型-配置页)
 *@description: 陈璐
 *@date: name (2017.02.24)
*/



@import (reference) "public";
@import "mod/mod_pubHeadNav";
@import "mod/mod_pubHead";
@import "mod/mod_smallnav";
@import "mod/mod_carNav.less";
@import "mod/mod_footer";


// 车型配置主页面
.param_config_page{

    // 配置车型列表
    .param_type_list{
        display: table;
        width: 100%;
        .hide_alike{
            display: table-cell;
            color: @eye-color;
            // padding: .48rem /* 36/75 */ 0;
            p{
                width: 1.933rem /* 145/75 */;
                line-height: .747rem /* 56/75 */;
                text-align: center;
                border: 1px solid @eye-color;
                border-radius: .053rem /* 4/75 */;
                margin: .133rem /* 10/75 */ .4rem /* 30/75 */;
            }
            .checked{
                color: @color-main-blue;
                border-color: @color-main-blue;
            }
        }
        .check_type{
            display: table-cell;
            width: 72%;
            height: 100%;
            // overflow: hidden;
            position: relative;
            ul{
                padding: .4rem /* 30/75 */ 0;
                display: -webkit-box;
                -webkit-box-orient: horizontal;
                position: absolute;
                top: 0;
                left: 0;
                li{
                    width: 3.233333rem;
                    border: 1px solid @color-main-blue;
                    border-radius: .04rem /* 3/75 */;
                    margin-right: 0.3rem;
                    padding: 0.1rem;
                    // padding: .133rem /* 10/75 */ .267rem /* 20/75 */ .187rem /* 14/75 */ .173rem /* 13/75 */;
                    // margin-right: .267rem /* 20/75 */;
                    position: relative;
                    .type_name{
                        font-size: 13px;
                        line-height: .4rem /* 30/75 */;
                        margin-bottom: .133rem /* 10/75 */;
                    }
                    .type_price{
                        font-size: 14px;
                        color: @red-price;
                    }
                    em{
                        .icon_bg(url("../img/delete_red.png"), .48rem /* 36/75 */, .48rem /* 36/75 */);
                        position: absolute;
                        top: -.24rem /* 18/75 */;
                        right: -.24rem /* 18/75 */;
                    }
                    i{
                        // .icon_bg(url("../img/hui_add.png"), .547rem /* 41/75 */, .547rem /* 41/75 */);
                        background: url("../img/hui_add.png") no-repeat;
                        background-size: .547rem .547rem;
                        width: .547rem;
                        height: .547rem;
                        display: inline-block;
                        position: absolute;
                        bottom: .12rem /* 9/75 */;
                        right: .12rem /* 9/75 */;
                        &.addback{
                            background: url("../img/hui_add2.png") no-repeat;
                            background-size: .547rem .547rem;
                        }
                    }
                }
            }
        }
    }

    // 配置参数表格
    .param_table{
        .bp{
            display: inline-block;
            border-radius: 50%;
            width: .267rem /* 20/75 */;
            height: .267rem /* 20/75 */;
            background-color: @dian-border;
        }
        .xp{
            display: inline-block;
            border-radius: 50%;
            width: .187rem /* 14/75 */;
            height: .187rem /* 14/75 */;
            border: .04rem /* 3/75 */ solid @dian-border;
        }
        .w{
            display: inline-block;
            width: .267rem /* 20/75 */;
            height: 1px;
            border-top: 2px solid @dian-border;
            vertical-align: middle;
        }
        .param_title{
            width: 92%;
            padding: 0 4%;
            background-color: @bg-color;
            .title{
                font-size: 14px;
                color: @color-555;
                line-height: .827rem /* 62/75 */;
                float: left;
            }
            .item{
                font-size: 11px;
                color: @price-item-color;
                float: right;
                i{
                    line-height: .827rem /* 62/75 */;
                    display: inline-block;
                    em{
                        margin: 0 .16rem /* 12/75 */ 0 .373rem /* 28/75 */;
                    }
                }
            }
        }
        table{
            tr{
                height: 1.28rem /* 96/75 */;
                border-bottom: 1px solid #f3f3f3;
                border-left: 1px solid #f3f3f3;
                border-right: 1px solid #f3f3f3;
                &.title_box{
                    height:0.82rem;
                }
                th{
                    color: @eye-color;
                    word-break: break-all;
                    width: 2.773333rem;
                    // width: 2.4rem /* 180/75 */;
                    // border: 1px solid @bg-color;
                    // padding-left: .4rem /* 30/75 */;
                }
                td{
                    color: @color-555;
                    // height: 1.4rem;
                    // width: 3.333rem /* 250/75 */;
                    // border: 1px solid @bg-color;
                    // padding-left: .24rem /* 18/75 */;
                    .inquiry_price{
                        color: @color-fff;
                        display: inline-block;
                        width: 1.133rem /* 85/75 */;
                        line-height: .533rem /* 40/75 */;
                        text-align: center;
                        background-color: @color-main-blue;
                        border-radius: .053rem /* 4/75 */;
                        vertical-align: middle;
                        margin-left: .267rem /* 20/75 */;
                    }
                }
                .blue_bg{
                    background-color: @table-bg;
                }
            }
        }
    }

    // 配置目录
    .param_catalog{
        font-size: 14px;
        position: fixed;
        right: .267rem /* 18/75 */;
        bottom: 2.4rem /* 74/75 */;
        z-index: 100;
        ul{
            display: none;
            .border-jianbian(3px,3px,20px,3px,@catalog-border);
            width: 5.893rem /* 442/75 */;
            background-color: @color-fff;
            border: 1px solid @catalog-border;
            border-radius: .093rem /* 7/75 */;
            padding: .24rem /* 18/75 */ .453rem /* 34/75 */ .293rem /* 22/75 */;
            li{
                float: left;
                width: 50%;
                line-height: .96rem /* 72/75 */;
            }
        }
        span{
            .bg-jianbian(top left,bottom right,@ml-start,@ml-end);
            .border-jianbian(0,5px,20px,0,@ml-end);
            border-radius: 50%;
            width: 1.333rem /* 100/75 */;
            height: 1.333rem /* 100/75 */;
            text-align: center;
            display: inline-block;
            // position: absolute;
            // right: .32rem /* 24/75 */;
            // bottom: .16rem /* 12/75 */;
            &.catalog{
                position: fixed;
                right: .267rem /* 18/75 */;
                bottom: 2.4rem /* 74/75 */;
                z-index: 99;
            }
            img{
                display: inline-block;
                width: .587rem /* 44/75 */;
                height: .48rem /* 36/75 */;
                margin-top: .427rem /* 32/75 */;
            }
            .menu_close{
                display: none;
            }
        }
    }

    // 注
    .tip_bar{
        color: @color-999;
        width: 92%;
        padding: .267rem /* 20/75 */ 4% .307rem /* 23/75 */;
        background-color: @bg-bar;
        line-height: .48rem /* 36/75 */;
    }
}

// 对比按钮
.contrast_btn{
    .bg-jianbian(top left,bottom right,@ml-start,@ml-end);
    .border-jianbian(0,5px,20px,0,@ml-end);
    border-radius: 50%;
    width: 1.333rem /* 100/75 */;
    height: 1.333rem /* 100/75 */;
    text-align: center;
    position: fixed;
    bottom: 3.88rem /* 216/75 */;
    right: .267rem /* 42/75 */;
    z-index: 99;
    a{
        color: @color-fff;
    }
    span{
        font-size: 21px;
        line-height: .547rem /* 41/75 */;
        padding-top: .133rem /* 10/75 */;
        display: block;
    }
}

// 遮罩层
.mask_area{
    display: none;
    .mask{
        width: 100%;
        height: 100%;
        background-color: @mask-bg;
        filter:alpha(opacity=50);
        opacity: .5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .mask_jt{
        background-image: url("../img/double_jt.png");
        background-size: cover;
        width: .693rem /* 52/75 */;
        height: .64rem /* 48/75 */;
        position: fixed;
        top: 48%;
        left: 10.93%;
        z-index: 999;
    }
}

// 按品牌右侧车款模块
.right_contrast_module{
    width: 76.667%;
    height: 100%;
    background-color: @color-fff;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    .contrast_list{
        ul{
            li{
                font-size: 15px;
                width: 96%;
                margin-left: 4%;
                padding: .187rem /* 14/75 */ 0;
                border-bottom: 1px solid @list-border;
                overflow: hidden;
                a{
                    float: left;
                    width: 77.505%;
                    p{
                        line-height: .693rem /* 52/75 */;
                    }
                    .style_price{
                        .style_start_price{
                            color: @red-price;
                            float: left;
                        }
                        .style_zd_price{
                            font-size: 12px;
                            color: @time-color;
                            float: right;
                        }
                    }
                }
                .delete_c_h{
                    .icon_bg(url("../img/delete_red.png"), .48rem /* 36/75 */, .48rem /* 36/75 */);
                    vertical-align: middle;
                    margin: .6rem /* 45/75 */ .56rem /* 42/75 */ 0 0;
                    float: right;
                }
            }
        }
        .add_contrast_type{
            display: block;
            font-size: 14px;
            color: @color-main-blue;
            width: 92%;
            margin: .453rem /* 34/75 */ auto 0;
            line-height: 1.04rem /* 78/75 */;
            text-align: center;
            border: 1px solid @color-main-blue;
            border-radius: .053rem /* 4/75 */;
            img{
                display: inline-block;
                width: .333rem /* 25/75 */;
                height: .333rem /* 25/75 */;
                vertical-align: -.027rem /* 2/75 */;
                margin-right: .067rem /* 5/75 */;
            }
        }
        .zhu{
            color: @color-999;
            line-height: 1.12rem /* 84/75 */;
            padding: 0 4%;
        }
    }
    .contrast_link_btn{
        font-size: 14px;
        width: 92%;
        margin: 0 4%;
        line-height: 1.067rem /* 80/75 */;
        position: absolute;
        left: 0;
        bottom: .28rem /* 21/75 */;
        .delete_all{
            color: @color-fff;
            width: 28.738%;
            text-align: center;
            background-color: @color-666;
            border-top-left-radius: .107rem /* 8/75 */;
            border-bottom-left-radius: .107rem /* 8/75 */;
            float: left;
        }
        .begin_contrast{
            color: @color-fff;
            width: 71%;
            text-align: center;
            background-color: @color-main-blue;
            border-top-right-radius: .107rem /* 8/75 */;
            border-bottom-right-radius: .107rem /* 8/75 */;
            float: right;
        }
    }
}

//dpr=2字体大小
[data-dpr="2"] .param_config_page{
    // 配置车型列表
    .param_type_list{
        .check_type{
            .type_name{
                font-size: 26px;
            }
            .type_price{
                font-size: 28px;
            }
        }
    }
    // 配置参数表格
    .param_table{
        .param_title{
            .title{
                font-size: 28px;
            }
            .item{
                font-size: 22px;
            }
        }
        .h73{
            span{
                display: inline-block;
                width: 0.266667rem;
                height:0.106667rem;
            }
        }
        .null_icon{
            display: inline-block;
            width: 0.267rem /* 20/75 */;
            height: 1px;
            border-top: 2px solid #b7b7b7;
            vertical-align: middle;
            color: #b7b7b7;
            border-radius: 50%;
        }
        .bp_icon{
            display: inline-block;
            border-radius: 50%;
            width: 0.267rem /* 20/75 */;
            height: 0.267rem /* 20/75 */;
            background-color: #b7b7b7;
            color: #b7b7b7;
        }
        .xp_icon{
            display: inline-block;
            border-radius: 50%;
            width: 0.187rem /* 14/75 */;
            height: 0.187rem /* 14/75 */;
            border: 0.04rem /* 3/75 */ solid #b7b7b7;
            border: 1px solid #b7b7b7;
            color: #b7b7b7;
        }
    }
    // 配置目录
    .param_catalog{
        font-size: 28px;
    }
}
//dpr=3字体大小
[data-dpr="3"] .param_config_page{
    // 配置车型列表
    .param_type_list{
        .check_type{
            .type_name{
                font-size: 39px;
            }
            .type_price{
                font-size: 42px;
            }
        }
    }
    // 配置参数表格
    .param_table{
        .param_title{
            .title{
                font-size: 42px;
            }
            .item{
                font-size: 33px;
            }
        }
    }
    // 配置目录
    .param_catalog{
        font-size: 42px;
    }
}

//dpr=2 字体大小 对比按钮
[data-dpr="2"] .contrast_btn{
    span{
        font-size: 42px;
    }
}
//dpr=3 字体大小 对比按钮
[data-dpr="3"] .contrast_btn{
    span{
        font-size: 63px;
    }
}

//dpr=2 字体大小（右侧对比抽屉）
[data-dpr="2"] .right_contrast_module{
    .contrast_list{
        li{
            font-size: 30px;
            .style_price{
                .style_zd_price{
                    font-size: 24px;
                }
            }
        }
        .add_contrast_type{
            font-size: 28px;
        }
    }
    .contrast_link_btn{
        font-size: 28px;
    }
}
//dpr=3 字体大小（右侧对比抽屉）
[data-dpr="3"] .right_contrast_module{
    .contrast_list{
        li{
            font-size: 45px;
            .style_price{
                .style_zd_price{
                    font-size: 36px;
                }
            }
        }
        .add_contrast_type{
            font-size: 42px;
        }
    }
    .contrast_link_btn{
        font-size: 42px;
    }
}
.page-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
