/*****
 *@author: jianingning
 *@from: Global style index
 *@description:
 *@date: name (2017.02.20)
*/



@import (reference) "public";
@import "mod/mod_nav.less";
@import "mod/mod_carNav.less";
@import "mod/mod_comment.less";
@import "mod/mod_issue";

.load_more {
    margin: .667rem /* 50/75 */ 0;
    .load_more;
}
.loading{
    .loading;
    margin: .667rem /* 50/75 */ 0;
}
.more {
    .more;
}
.no_more{
    .no_more;
}
.floorPrice_btn {
    .floorPrice_btn;
}
.demo_title {
    .demo_title;
}
.goTop {
    .goTop;
}
.float_menu {
    .float_menu;
}
.share {
    .share;
}
.article_list {
    .article_list;
}
.type_msg_demo{
    .type_msg_demo;
}
[data-dpr="2"]  body{
    .load_more,.more {
        font-size: 26px;
    }
    .demo_title {
        span {
            font-size: 30px;
        }
    }
    .share {
        span {
            font-size: 24px;
        }
    }
    .article_list {
        .synopsis {
            font-size: 30px;
        }
        .minor {
            font-size: 24px;
        }
    }
    .floorPrice_btn {
        font-size: 26px;
    }
    .type_msg_demo{
        .sub_brand_name{
            font-size: 28px;
        }
        dl{
            .type_name{
                font-size: 30px;
            }
            .type_price{
                font-size: 30px;
            }
        }
    }
}
[data-dpr="3"]  body{
    .load_more,.more {
        font-size: 39px;
    }
    .demo_title {
        span {
            font-size: 45px;
        }
    }
    .share {
        span {
            font-size: 36px;
        }
    }
    .article_list {
        .synopsis {
            font-size: 45px;
        }
        .minor {
            font-size: 36px;
        }
    }
    .floorPrice_btn {
        font-size: 39px;
    }
    .type_msg_demo{
        .sub_brand_name{
            font-size: 42px;
        }
        dl{
            .type_name{
                font-size: 45px;
            }
            .type_price{
                font-size: 45px;
            }
        }
    }
}
