/*****
*@author: huangzy
*@from: Global style personal center(个人中心)
*@description: 陈璐
*@date: name (2017.03.01)
*/


@import (reference) "public";
@import "mod/mod_pubHead.less";
@import "mod/mod_pubHeadNav.less";
@import "mod/mod_smallnav.less";
@import "mod/mod_footer.less";
@import "mod/mod_goTop.less";


.index_page {
  width: 100%;

  // 灰色间隔条
  .bg_bar{
      width: 100%;
      height: .4rem /* 30/75 */;
      background-color: @bg-bar;
  }
  .content_list {
    width: 100%;
    position: relative;
    /*tab标题公共样式*/
    .tab_title {
        width: 92%;
        height: 1.053rem;
        margin: 0 4%;
        border-bottom: 2px solid @color-tab-border;
        li{
            float: left;
            width: 50%;
            line-height: 1.053rem /* 79/75 */;
            a{
                color: @color-tab-color;
                height: 100%;
                text-align: center;
                margin: 0 19%;
                display: block;
                font-size: 15px;
            }
            .current{
                color: @color-main-blue;
                border-bottom: 2px solid @color-main-blue;
                margin-bottom: -2px;
            }
        }
    }
    /*内容样式*/
    .sort_swiper_box {
      width: 100%;
      .message{
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
        .same_style{
            width: 100%;
            padding-bottom: 0.4rem;
            border-bottom: 1px solid #f3f3f3;
            .top{
                margin-top: 0.4rem;
                span{
                  float: left;
                }
                .img{
                    display: block;
                    width: 0.933rem;
                    height: 0.933rem;
                    border-radius: 50%;
                    img{
                      display: block;
                      width: 100%;
                      height: 100%;
                      border-radius: 50%;
                    }
                }
                .name ,.date{
                  display:block;
                  width: 79%;
                  margin-left: 0.373rem;
                }
                .name{
                  color: #848484;
                  font-size: 14px;
                }
                .date{
                  color: #b7b7b7;
                  margin-top: 0.267rem;
                  font-size: 12px;
                }
                .rightjt{
                  float: right;
                }
            }
            .mid{
              margin-top: 0.373rem;
              color: #333;
              line-height: 0.56rem;
              font-size: 15px;
            }
            .bottom{
              padding: 0.32rem 0.4rem;
              margin-top: 0.347rem;
              color:#999;
              line-height: 0.48rem;
              background: #f3f3f3;
              font-size: 12px;
              a{
                color: #666;
              }
            }
        }
      }
      .me_reply{
        .same_style{
          .title{
            color:#999;
            margin-top: 0.533rem;
            font-size: 14px;
            i{
              color: #666;
            }
          }
          .comment_content{
            width: 100%;
            margin-top: 0.32rem;
            line-height: 0.56rem;
            color: #333;
            font-size: 15px;
            overflow: hidden;
          }
          .comment_time{
            color: #b7b7b7;
            margin-top: 0.32rem;
            font-size: 12px;
          }
        }
      }
      .no_content_container{
        display: none;
        margin-left: 26%;
        margin-right: 26%;
        margin: 2.96rem auto;
        width: 48%;
        height: 4.413rem /* 331/75 */;
        text-align: center;
        position: relative;
        img{
          display: inline-block;
          width: 100%;
          height: 100%;
        }
        span{
          width: 2.56rem;
          text-align: center;
          font-size: 16px;
        }
      }
      .load_more_module{
        width: 92%;
        margin: 0 4% .267rem /* 20/75 */;
        .load_more{
            .load_more;
            font-size: 12px;
        }
        .loading{
            .loading;
            font-size: 12px;
            display: none;
        }
        .no_more{
            .no_more;
            font-size: 12px;
        }
      }
    }
  }
}
/*字号大小适配*/
[data-dpr="2"] .index_page {
  .content_list {
    .tab_title {
      li {
        a {
          font-size: 30px;
        }
      }
    }
    .sort_swiper_box {
      .message {
        .same_style {
          .top {
            .name {
              font-size: 28px;
            }
            .date {
              font-size: 24px;
            }
          }
          .mid {
            font-size: 30px;
          }
          .bottom {
            font-size: 24px;
          }
        }
      }
      .me_reply {
        .same_style {
          .title {
            font-size: 28px;
          }
          .comment_content {
            font-size: 30px;
          }
          .comment_time {
            font-size: 24px;
          }
        }
      }
      .no_content_container {
        span {
          font-size: 32px;
        }
      }
      .load_more_module{
        .load_more{
            font-size: 24px;
        }
        .loading{
            font-size: 24px;
        }
        .no_more{
            font-size: 24px;
        }
      }
    }
  }
}
[data-dpr="3"] .index_page {
  .content_list {
    .tab_title {
      li {
        a {
          font-size: 45px;
        }
      }
    }
    .sort_swiper_box {
      .message {
        .same_style {
          .top {
            .name {
              font-size: 42px;
            }
            .date {
              font-size: 36px;
            }
          }
          .mid {
            font-size: 45px;
          }
          .bottom {
            font-size: 36px;
          }
        }
      }
      .me_reply {
        .same_style {
          .title {
            font-size: 42px;
          }
          .comment_content {
            font-size: 30px;
          }
          .comment_time {
            font-size: 36px;
          }
        }
      }
      .no_content_container {
        span {
          font-size: 48px;
        }
      }
      .load_more_module{
        .load_more{
            font-size: 36px;
        }
        .loading{
            font-size: 36px;
        }
        .no_more{
            font-size: 36px;
        }
      }
    }
  }
}
