  /*****
 *@author: huangzy
 *@from: Global style personal center(个人中心)
 *@description: 陈璐
 *@date: name (2017.03.01)
*/


@import (reference) "public";
@import "mod/mod_pubHead.less";
@import "mod/mod_pubHeadNav.less";
@import "mod/mod_footer.less";

.index_page {
  width: 100%;

  // 灰色间隔条
  .bg_bar{
      width: 100%;
      height: .4rem /* 30/75 */;
      background-color: @bg-bar;
  }

  /*头像名称*/
  .header_img{
    width: 100%;
    height: 5.297rem;
    padding-top: .573rem;
    margin-top: -1px;
    background:-webkit-linear-gradient(left,#23a6fe,#2484fa);

    .img_container{
      margin: 0 auto;
      width: 2.44rem;
      height: 2.44rem;
      display: block;
      position: relative;

      span{
        display: block;
      }
      .img_wrap{
        width: 2.31rem;
        height: 2.31rem;
        border: .13rem solid rgba(255,255,255,0.5);
        border-radius: 50%;
        img{
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 50%
        }
      }
      .zhuanjia{
        position: absolute;
        bottom: -0.373rem;
        left: 0.16rem;
        width: 2.293rem;
        height: 0.56rem;

        img{
          width: 100%;
          height: 100%;
          display: inline-block;
        }
      }
    }
    p{
      width: 100%;
      margin-top: .64rem;
      text-align: center;
      font-size: 17px;
      color: #fff;
    }
  }
  /*content*/
  .body{
    background: #f4f5f7;
    .content_list{

      li{
        width: 100%;
        background: #fff;

        a{
          font-size: 16px;
          width: 96%;
          height: 1.33rem;
          line-height: 1.33rem;
          display: block;
          margin-left: 0.4rem;
          background-color: #fff;
        span{

          em{
            display: inline-block;
            vertical-align: -.06rem;
            margin-left: .07rem;
            margin-right: .07rem;
          }

          &.left{
            float: left;
          }
          &.right{
            margin-right: 0.4rem;
            float: right;
            line-height: 1.33rem;
            i{
              display: inline-block;
              width: .24rem;
              height: .24rem;
              border-radius: 50%;
              margin-right: .27rem;
              &.red{
                background: #ff3131;
              }
            }
            .jiant{
              display: block;
              width: 0.2rem;
              float: right;
              height: 0.3466666666666667rem;
              img{
                width: 100%;
                height: 100%;
                display: inline-block;
                vertical-align: middle;
              }
            }

          }

        }
        &.message{
          margin-bottom: .27rem;
          line-height: .1.33rem;
          .left{
            width: 0.6133333333333333rem;
            height: 0.44rem;
            vertical-align: middle;
            margin-top: 0.44rem;
            margin-right: 0.32rem;
          }
        }

        &.collection{
          border-bottom: 1px solid #f3f3f3;
            line-height: .1.33rem;
          .left{
            width: 0.6133333333333333rem;
            height: 0.44rem;
            vertical-align: middle;
            margin-top: 0.44rem;
            margin-right: 0.3333333333333333rem;
          }
        }
        &.order{
          border-bottom: 1px solid #f3f3f3;
          .left{
            width: 0.4533333333333333rem;
            height: 0.5333333333333333rem;
            margin-top: 0.37333333333333335rem;
            margin-right: 0.3466666666666667rem;
          }
        }
        &.que_ans{
          border-bottom: 1px solid #f3f3f3;
          .left{
            width: 0.52rem;
            height: 0.4533333333333333rem;
            margin-top: 0.4666666666666667rem;
            margin-right: 0.32rem;
          }
        }
        &.comment{
          .left{
            width: 0.5333333333333333rem;
            height: 0.4666666666666667rem;
            margin-right: 0.30666666666666664rem;
            margin-top: 0.4533333333333333rem;
          }
        }
        &.settings{
          margin-top: 0.26666666666666666rem;
          margin-top: 0.26666666666666666rem;
          .left{
            width: 0.5333333333333333rem;
            height: 0.5066666666666667rem;
            margin-right: 0.13333333333333333rem;
            margin-top: 0.4rem;
          }
        }

      }
      .left{
        img{
          width: 100%;
          height: 100%;
          display:inline-block;
        }
      }
    }
  }

}
}
/*字号大小适配*/
[data-dpr="2"] .index_page {
  .header_img {
    p {
      font-size: 34px;
    }
  }
  .body {
    .content_list {
      li {
        a {
          font-size: 32px;
        }
      }
    }
  }
}
[data-dpr="3"] .index_page {
  .header_img {
    p {
      font-size: 51px;
    }
  }
  .body {
    .content_list {
      li {
        a {
          font-size: 48px;
        }
      }
    }
  }
}




//   // 灰色间隔条
// .bg_bar{
//     width: 100%;
//     height: 0.26666666666666666rem /* 20/75 */;
//     background-color: @bg-bar;

// }

// [data-dpr="3"] .content_list{
//   li{
//     a{
//         font-size: 48px;
//     }
//   }
// }

// [data-dpr="3"] .header_img{
//   p{
//     font-size: 51px;
//   }
// }
// [data-dpr="2"] .header_img{
//   p{
//     font-size: 34px;
//   }
// }
// [data-dpr="2"] .content_list{
//   li{
//     a{
//         font-size: 32px;
//     }
//   }
// }
