/*****
*@author: huangzy
*@from: Global style personal center(个人中心)
*@description: 陈璐
*@date: name (2017.03.01)
*/


@import (reference) "public";
@import "mod/mod_pubHead";
@import "mod/mod_footer";


.content_list{
background: #f4f5f7;
position: relative;
height: 13.413333333333334rem;
p{
  height: 1.3333333333333333rem;
  color: #333;
  background: #fff;
  // line-height: 1.3333333333333333rem;
  border-bottom: 1px dotted #f3f3f3;
  position: relative;
  input{
    padding-left: 0.4533333333333333rem;
    height: 1.3333333333333333rem;
    width: 32%;
  }
  .error_tip{
      z-index: 1;
      display: none;
      font-size: 12px;
      color: @color-fff;
      // display: inline-block;
      height: .507rem /* 38/75 */;
      line-height: .507rem /* 38/75 */;
      padding: 0 .267rem /* 20/75 */;
      background-color: @red-price;
      border-radius: .107rem /* 8/75 */;
      position: absolute;
      top: 1.04rem /* 78/75 */;
      left: 20%;
      strong{
          display: block;
          border-left: .267rem /* 20/75 */ solid @red-price;
          border-bottom:  .267rem /* 20/75 */ solid transparent;
          transform: rotate(45deg);
          position: absolute;
          top: -.133rem /* 10/75 */;
          left: 20%;
      }
  }
  &.phone{
    padding-left: 4%;
    em{
      display: none;
      position: absolute;
      right: 4%;
      top: 0.4rem;
      width: 0.48rem;
      height: 0.48rem;
      background: url('../img/input_delete.png') no-repeat center;
    }
  }

  &.code{
    padding-left: 4%;
    line-height: 1.3333333333333333rem;
    em{
      display: none;
      position: absolute;
      display: none;
      right: 32%;
      top: 0.4rem;
      width: 0.48rem;
      height: 0.48rem;
      background: url('../img/input_delete.png') no-repeat center;
    }
    .get_code{
      position: absolute;
      right: 4%;
      top:0.29333333333333333rem;
      vertical-align: middle;
      display: inline-block;
      line-height: 0.7466666666666667rem;
      padding: 0 0.133rem /* 10/75 */;
      height: 0.7466666666666667rem;
      border: 0.02666666666666667rem solid #d8d8d8;
      border-radius: 0.13333333333333333rem;
      font-size: 12px;
      color: #ddd;
    }
  }

  &.voice{
    height: 1.4133333333333333rem;
    background: #f4f5f7;
    margin-left: 4%;
    line-height: 1.4133333333333333rem;
    a{
      display: inline-block;
      color:#2799fe;
    }
  }

  &.bind{
    width: 92%;
    margin: 0.533rem /* 40/75 */ 4% 0;
    background: #f4f5f7;
    height: 1.1466666666666667rem;
    span{
      display: inline-block;
      color: #fff;
      width: 100%;
      text-align: center;
      line-height: 1.1466666666666667rem;
      background: #a9d5ff;
      height: 1.1466666666666667rem;
      border-radius: 0.13333333333333333rem;
    }
  }

  &.notice{
      font-size: 12px;
    color: #c1c1c1;
    background: #f4f5f7;
    margin-left: 4%;
    line-height: 1.3333333333333333rem;
    a{
      text-decoration: underline;
      color: #c1c1c1;
    }
  }

  &.footer{
      padding-left: 4%;
      border: none;
      position: absolute;
      bottom: 0;
      width:96%;
      height: 1.0666666666666667rem;
      line-height: 1.0666666666666667rem;
      border-bottom: 1px solid #d8d8d8;
      span{
        color: #666;
        &.cur{
          color: #999;
        }
      }
      i{
        margin: 0 0.21333333333333335rem;
        width: 0.12rem;
        height: 0.21333333333333335rem;
        display: inline-block;
        background: url('../img/crumbs_arrow1.png');
        background-size: cover;
      }
      em{
          margin: 0 0.21333333333333335rem;
          width: 0.12rem;
          height: 0.21333333333333335rem;
          display: inline-block;
          background: url('../img/crumbs_arrow2.png');
          background-size: cover;
      }
    }
}
}

// load图标弹层
.load_mask{
  width: 3.733rem /* 280/75 */;
  height: 2.533rem /* 190/75 */;
  margin: -1.267rem /* 95/75 */ 0 0 -1.867rem /* 140/75 */;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: none;
  .mask{
      width: 3.733rem /* 280/75 */;
      height: 2.533rem /* 190/75 */;
      background-color: @color-000;
      border-radius: .107rem /* 8/75 */;
      filter: alpha(opacity=60);
      opacity: .6;
      position: absolute;
      top: 0;
      left: 0;
  }
  .keyframes (all,circleChange,{
      0%{-webkit-transform:rotate(0deg);}
      50%{-webkit-transform:rotate(180deg);}
      100%{-webkit-transform:rotate(360deg);}
  });
  img{
      display: inline-block;
      width: .813rem /* 61/75 */;
      height: .867rem /* 65/75 */;
      margin: -.427rem /* 32/75 */ 0 0 -.4rem /* 30/75 */;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-animation: circleChange 2s linear infinite;
  }
}

[data-dpr="2"] .content_list{
  p{
    font-size: 30px;
    .error_tip{
        font-size: 24px;
    }
    &.code{
      .get_code{
        font-size: 24px;
      }
    }
    &.voice{
      font-size: 24px;
      a{
        font-size: 26px;
      }
    }

    &.bind{
      span{

        font-size: 34px;

      }
    }
    &.notice{
        font-size: 24px;
    }
    &.footer{
        span{
          font-size: 28px;
        }


      }
  }
}

[data-dpr="3"] .content_list{
  p{
    font-size: 45px;
    .error_tip{
        font-size: 36px;
    }
    &.code{
      .get_code{
        font-size: 36px;
      }
    }
    &.voice{
      font-size: 36px;
      a{
        font-size: 39px;
      }
    }
    &.bind{
      span{

        font-size: 51px;
      }
    }
    &.notice{
        font-size: 36px;
    }
    &.footer{
        span{
          font-size: 42px;
        }
      }
  }
}
