/*****
 *@author: linyh
 *@from: Global style index-search(首页-搜索)
 *@description: 陈璐
 *@date: name (2017.02.23)
*/



@import (reference) "public";

.search_car_page{

    //搜索框
    .search_bar{
        font-size: 14px;
        width: 92%;
        padding: 0 4%;
        .search_area{
            width: 86.087%;
            height: .933rem /* 70/75 */;
            border: 1px solid @color-main-blue;
            border-radius: .427rem /* 32/75 */;
            margin: .267rem /* 20/75 */ .267rem /* 20/75 */ .267rem /* 20/75 */ 0;
            float: left;
            .search_btn{
                .icon_bg( url("../img/search_fdj.png"), .56rem /* 42/75 */, .573rem /* 43/75 */);
                vertical-align: middle;
                margin: 0 .16rem /* 12/75 */ 0 .373rem /* 28/75 */;
                display: inline-block;
            }
            .search_input{
                color: @color-999;
                .placeholder-color(@color-999);
                background-color: transparent;
                width: 72%;
                height: 100%;
            }
            .delete_text{
                .icon_bg(url("../img/delete.png"), .48rem /* 36/75 */, .48rem /* 36/75 */);
                vertical-align: middle;
                display: none;
            }
        }
        .cancel{
            color: @color-main-blue;
            line-height: 1.493rem /* 112/75 */;
            float: right;
        }
    }

    //公共标题样式
    .module_title{
        font-size: 13px;
        color: @city-scroll-title-color;
        line-height: .747rem /* 56/75 */;
        padding: 0 .4rem /* 30/75 */;
        background-color: @list-border;
    }

    //条件列表
    .search_module{
        font-size: 13px;
        width: 100%;
        .search_title{
            .module_title;
            span{
                float: left;
            }
            a{
                color: @color-999;
                float: right;
                display: none;
            }
        }
    }

    //热门车型
    .search_hot{
        .hot_list{
            padding:.4rem /* 30/75 */ 2%s;
            li{
                width: 28.527%;
                height: .827rem /* 62/75 */;
                border: 1px solid @search-border;
                border-radius: .053rem /* 4/75 */;
                float: left;
                margin: 2.084%;
                a{
                    width:100%;
                    line-height: .827rem /* 62/75 */;
                    text-align: center;
                    display: inline-block;
                    &:active{
                        background-color: @color-main-blue;
                        color: @color-fff;
                    }
                }
            }
        }
    }

    //搜索历史
    .search_history{
        .history_list{
            font-size: 15px;
            padding: 0 4%;
            li{
                line-height: 1.32rem /* 99/75 */;
                padding-left: .267rem /* 20/75 */;
                border-bottom: 1px solid @list-border;
                a{
                    color: @color-666;
                    display: block;
                    &:active{
                        color: @color-main-blue;
                    }
                }
            }
        }
    }

    // 联想词
    .sh_relevance{
        display: none;
        .result_list{
            font-size: 15px;
            padding: 0 4%;
            li{
                line-height: 1.32rem /* 99/75 */;
                padding-left: .267rem /* 20/75 */;
                border-bottom: 1px solid @list-border;
                a{
                    color: @color-666;
                    display: block;
                    &:active{
                        color: @color-main-blue;
                    }
                }
            }
        }
        .load_more{
            .load_more;
        }
        .noresult{
            font-size: 13px;
            position:absolute;
            left: 50%;
            top: 20%;
            width: 4.82rem;
            transform: translateX(-50%);
            .img{
                width: 4.82rem;
                height: 4.32rem;
                background: url(../img/search_noresult.png) no-repeat;
                background-size: cover;
                margin-bottom: .2rem;
            }
            .text{
                text-align: center;
                color: #666;
            }
        }
    }
}

//dpr=2 字体大小
[data-dpr="2"] .search_car_page{
    //搜索框
    .search_bar{
        font-size: 28px;
    }
    //搜索列表
    .search_module{
        font-size: 26px;
        .search_title{
            font-size: 26px;
        }
        .history_list{
            font-size: 30px;
        }
    }
    // 联想词
    .sh_relevance{
        .result_list{
            font-size: 30px;
        }
        .load_more{
            font-size: 26px;
        }
        .noresult{
            font-size: 26px;
        }
    }
}

//dpr=3 字体大小
[data-dpr="3"] .search_car_page{
    //搜索框
    .search_bar{
        font-size: 42px;
    }
    //搜索列表
    .search_module{
        font-size: 39px;
        .search_title{
            font-size: 39px;
        }
        .history_list{
            font-size: 45px;
        }
    }
    // 联想词
    .sh_relevance{
        .result_list{
            font-size: 45px;
        }
        .load_more{
            font-size: 39px;
        }
        .noresult{
            font-size: 39px;
        }
    }
}
