//底部样式
.footer {
  width: 100%;
  background: #333;
  height: 78px;
  position: relative;
  .footer_content {
    width: 990px;
    height: 78px;
    background: #333;
    margin:auto;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999999999;
    ul {
      height: 78px;
      width: 990px;
      overflow: hidden;
      line-height: 78px;
      line-height: 78px\9;
      margin-left: 120px;
      li {
        float: left;
        margin: 0 28px;
        a {
          display: inline-block;
          font-size: 12px;
          color: #ffffff;
          font-family:  "PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
        }
        &.website{
          margin-right: 0;
        }
      }
    }
  }
}