
.tcdPageCode {
  padding: 15px 20px;
  color: #ccc;
  text-align: center;
  overflow: hidden;
}

.tcdPageCode a {
  display: inline-block;
  color: #333;
  height: 38px;
  font-size: 16px;
  line-height: 38px;
  line-height: 38px\9;
  border: 1px solid #e1e1e1;
  margin: 0 2px;
  vertical-align: middle;
}
.tcdPageCode .tcdNumber{
  width: 38px;
  padding: 0;
}
.tcdPageCode .prevPage{
  width: 79px;
  background: #f3f3f3;

}
.tcdPageCode .nextPage{
  width: 79px;
  background: #f3f3f3;

}
.tcdPageCode .dian{
  width: 38px;
  height: 38px;
  line-height: 38px;
  line-height: 38px\9;
  border: 1px solid #e1e1e1;
  margin:0 2px;
  overflow: hidden;

}
.tcdPageCode a:hover {
  text-decoration: none;
  border: 1px solid #428bca;
}

.tcdPageCode span.current {
  display: inline-block;
  height: 38px;
  width: 38px;
  font-size: 16px;
  line-height: 38px;
  line-height: 38px\9;
  margin: 0 2px;
  color: #fff;
  background-color: #398be4;
  border: 1px solid transparent;
  vertical-align: middle;
}

.tcdPageCode span.disabled {
  display: inline-block;
  height: 38px;
  width: 79px;
  line-height: 38px;
  line-height: 38px\9;
  /*padding: 0 10px;*/
  font-size: 16px;
  margin: 0 2px;
  color: #999;
  background: #f3f3f3;
  border: 1px solid #e1e1e1;
  vertical-align: middle;
}
