.wait_call{
  height: 44px;
  margin-top: 8px;
  margin-bottom: 26px;
  p{
    margin-left: 78px;
    line-height: 24px;
    font-size: 12px;
    font-family: "Microsoft YaHei", "微软雅黑";
    a{
      color: #3a8be4;
      &:hover{
        text-decoration: underline;
      }
    }
    span{
      color:#e43a3a;
      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}